<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Relik - Admin Dashboard</title>
    <link rel="icon" type="image/png" href="assets/images/logo/logo-icon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/browse/tippy.js@6/themes/light.css"
    />
    <link rel="stylesheet"  href="https://unpkg.com/tippy.js@6/animations/scale.css"
    />
    <link rel="stylesheet" href="assets/css/rt-plugins.css">
    <link rel="stylesheet" href="assets/css/app.min.css">
</head>
<body class="{{body_class}}">
<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  
    
  {% block content %}{% endblock %}
  <div class="rt-mobile-menu-overlay"></div><!-- /.rt-mobile-menu-overlay -->
  <div id="template2" style="display: none">
    <div class="PopoverParent">
      <div class="PopoverContent">
        <div class="Popover-header">
          <a
            class="rt-single-icon-box user-profile-icon-big rt-align-center"
            href="#"
          >
            <div class="icon-thumb">
              <div class="innerImage">
                <img
                  src="assets/images/all-img/users/user.png"
                  alt="profile_image"
                />
              </div>
            </div>
            <div class="iconbox-content">
              <h4>Faraz Ahmed</h4>
              <span>farazleo112</span>
            </div>
          </a>
        </div>
        <div class="popoverInnerContent">
          <ul class="user_menu">
            <li>
              <a href="#">
                <span class="icon-i">
                  <i class="ph-user"></i>
                </span>
                Profile
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-i">
                  <i class="ph-chart-bar"></i>
                </span>
                Reports
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-i">
                  <i class="ph-gear"></i>
                </span>
                Settings
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-i">
                  <i class="ph-question"></i>
                </span>
                Get Help
              </a>
            </li>
          </ul>
        </div>
        <div class="popOverFooter">
          <a href="#">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="17.3"
                height="17.3"
                viewBox="0 0 17.3 17.3"
              >
                <g id="log-out" transform="translate(-2.35 -2.35)">
                  <path
                    id="Path_2782"
                    data-name="Path 2782"
                    d="M8.333,19H4.778A1.778,1.778,0,0,1,3,17.222V4.778A1.778,1.778,0,0,1,4.778,3H8.333"
                    transform="translate(0 0)"
                    fill="none"
                    stroke="#4d5afb"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.3"
                  />
                  <path
                    id="Path_2783"
                    data-name="Path 2783"
                    d="M16,15.889l4.444-4.444L16,7"
                    transform="translate(-1.444 -0.444)"
                    fill="none"
                    stroke="#4d5afb"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.3"
                  />
                  <line
                    id="Line_11"
                    data-name="Line 11"
                    x1="10.667"
                    transform="translate(8.333 11)"
                    fill="none"
                    stroke="#4d5afb"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.3"
                  />
                </g>
              </svg>
            </span>
            Log Out
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div id="template" style="display: none">
    <div class="PopoverParent">
      <div class="PopoverContent">
        <div class="popoverInnerContent">
          <div class="Popover-header">
            <div class="text-center">
              <div class="d-blok f-size-18 line-height-17">Notifications</div>
              <div class="d-blok f-size-14">You have 6 unread messages</div>
            </div>
          </div>
          <div class="notifybox">
            <div class="notify-lists">
              <div class="rt-single-icon-box">
                <div class="icon-thumb success-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    focusable="false"
                    width="1em"
                    height="1em"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                    class="iconify"
                    data-icon="mdi-light:thumb-up"
                    data-inline="false"
                    style="transform: rotate(360deg)"
                  >
                    <path
                      d="M2 10h3a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1zm0 1v9h3v-9H2zm15.716 8.025l3.001-5c.18-.3.283-.65.283-1.025v-1a2 2 0 0 0-2-2h-5.61l1.457-5.44l.005-.018a1 1 0 0 0-.258-.966L8.585 9.585A1.994 1.994 0 0 0 8 11v7a2 2 0 0 0 2 2h6c.73 0 1.368-.39 1.716-.975zM22 13c0 .594-.172 1.147-.47 1.612l-2.906 4.843A3 3 0 0 1 16 21h-6a3 3 0 0 1-3-3v-7c0-.828.335-1.577.877-2.12l6.717-6.718l.707.707a2 2 0 0 1 .507 1.97L14.693 9H19a3 3 0 0 1 3 3v1z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <!-- /.icon-thumb -->
                <a class="iconbox-content" href="#"
                  ><span class="n-title">Someone Likes Your Posts</span>
                  <span class="n-time">2 hours ago</span></a
                ><!-- /.iconbox-content -->
              </div>
              <!-- /.rt-single-icon-box -->
              <div class="rt-single-icon-box">
                <div class="icon-thumb primary-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    focusable="false"
                    width="1em"
                    height="1em"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                    class="iconify"
                    data-icon="mdi-light:comment"
                    data-inline="false"
                    style="transform: rotate(360deg)"
                  >
                    <path
                      d="M5 3h13a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-4.586l-3.707 3.707A1 1 0 0 1 8 21v-3H5a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3zm13 1H5a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h4v4l4-4h5a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <!-- /.icon-thumb -->
                <a class="iconbox-content" href="#"
                  ><span class="n-title">3 new comments</span>
                  <span class="n-time">45 min ago</span></a
                ><!-- /.iconbox-content -->
              </div>
              <!-- /.rt-single-icon-box -->
              <div class="rt-single-icon-box">
                <div class="icon-thumb danger-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    focusable="false"
                    width="1em"
                    height="1em"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                    class="iconify"
                    data-icon="jam:shield-close"
                    data-inline="false"
                    style="transform: rotate(360deg)"
                  >
                    <path
                      d="M6 6.386V10a9.02 9.02 0 0 0 3.08 6.787L12 19.342l2.92-2.555A9.019 9.019 0 0 0 18 10V6.386l-6-2.25l-6 2.25zm-1.351-1.63L12 2l7.351 2.757a1 1 0 0 1 .649.936V10c0 3.177-1.372 6.2-3.763 8.293L12 22l-4.237-3.707A11.019 11.019 0 0 1 4 10V5.693a1 1 0 0 1 .649-.936zM13.414 11l1.414 1.414a1 1 0 1 1-1.414 1.414L12 12.414l-1.414 1.414a1 1 0 0 1-1.414-1.414L10.586 11L9.172 9.586a1 1 0 1 1 1.414-1.414L12 9.586l1.414-1.414a1 1 0 1 1 1.414 1.414L13.414 11z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <!-- /.icon-thumb -->
                <a class="iconbox-content" href="#"
                  ><span class="n-title">Someone Likes Your Posts</span>
                  <span class="n-time">2 hours ago</span></a
                ><!-- /.iconbox-content -->
              </div>
              <!-- /.rt-single-icon-box -->
              <div class="rt-single-icon-box">
                <div class="icon-thumb success-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    focusable="false"
                    width="1em"
                    height="1em"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                    class="iconify"
                    data-icon="mdi-light:thumb-up"
                    data-inline="false"
                    style="transform: rotate(360deg)"
                  >
                    <path
                      d="M2 10h3a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1zm0 1v9h3v-9H2zm15.716 8.025l3.001-5c.18-.3.283-.65.283-1.025v-1a2 2 0 0 0-2-2h-5.61l1.457-5.44l.005-.018a1 1 0 0 0-.258-.966L8.585 9.585A1.994 1.994 0 0 0 8 11v7a2 2 0 0 0 2 2h6c.73 0 1.368-.39 1.716-.975zM22 13c0 .594-.172 1.147-.47 1.612l-2.906 4.843A3 3 0 0 1 16 21h-6a3 3 0 0 1-3-3v-7c0-.828.335-1.577.877-2.12l6.717-6.718l.707.707a2 2 0 0 1 .507 1.97L14.693 9H19a3 3 0 0 1 3 3v1z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <!-- /.icon-thumb -->
                <a class="iconbox-content" href="#"
                  ><span class="n-title">Someone Likes Your Posts</span>
                  <span class="n-time">2 hours ago</span></a
                ><!-- /.iconbox-content -->
              </div>
              <!-- /.rt-single-icon-box -->
              <div class="rt-single-icon-box">
                <div class="icon-thumb primary-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    focusable="false"
                    width="1em"
                    height="1em"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                    class="iconify"
                    data-icon="mdi-light:comment"
                    data-inline="false"
                    style="transform: rotate(360deg)"
                  >
                    <path
                      d="M5 3h13a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-4.586l-3.707 3.707A1 1 0 0 1 8 21v-3H5a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3zm13 1H5a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h4v4l4-4h5a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <!-- /.icon-thumb -->
                <a class="iconbox-content" href="#"
                  ><span class="n-title">3 new comments</span>
                  <span class="n-time">45 min ago</span></a
                ><!-- /.iconbox-content -->
              </div>
              <!-- /.rt-single-icon-box -->
              <div class="rt-single-icon-box">
                <div class="icon-thumb danger-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    focusable="false"
                    width="1em"
                    height="1em"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                    class="iconify"
                    data-icon="jam:shield-close"
                    data-inline="false"
                    style="transform: rotate(360deg)"
                  >
                    <path
                      d="M6 6.386V10a9.02 9.02 0 0 0 3.08 6.787L12 19.342l2.92-2.555A9.019 9.019 0 0 0 18 10V6.386l-6-2.25l-6 2.25zm-1.351-1.63L12 2l7.351 2.757a1 1 0 0 1 .649.936V10c0 3.177-1.372 6.2-3.763 8.293L12 22l-4.237-3.707A11.019 11.019 0 0 1 4 10V5.693a1 1 0 0 1 .649-.936zM13.414 11l1.414 1.414a1 1 0 1 1-1.414 1.414L12 12.414l-1.414 1.414a1 1 0 0 1-1.414-1.414L10.586 11L9.172 9.586a1 1 0 1 1 1.414-1.414L12 9.586l1.414-1.414a1 1 0 1 1 1.414 1.414L13.414 11z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <!-- /.icon-thumb -->
                <a class="iconbox-content" href="#"
                  ><span class="n-title">Someone Likes Your Posts</span>
                  <span class="n-time">2 hours ago</span></a
                ><!-- /.iconbox-content -->
              </div>
              <!-- /.rt-single-icon-box -->
            </div>
          </div>
          <div class="popOverFooter text-center">
            <a href="#"
              >See all notifications
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                focusable="false"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 16 16"
                class="iconify"
                data-icon="bi:arrow-right"
                data-inline="false"
                style="transform: rotate(360deg)"
              >
                <g fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  ></path>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="template3" style="display: none">
    <div class="PopoverParent">
      <div class="PopoverContent">
        <div class="popoverInnerContent">
          <div class="keyword-tags tolltiptag">
            <a href="#" >Nibg</a>
            <a href="#" >mauris</a>
            <a href="#" >vulputate</a>
            <a href="#" >efficitur</a>
            <a href="#" >amet</a>
            <a href="#" >nunc</a>
            <a href="#" >ut</a>
            <a href="#" >in</a>
            <a href="#" >scelerisque</a>
            <a href="#" >sit</a>
            <a href="#" >at</a>
            <a href="#" >viverra</a>
            <a href="#" >lorem</a>
            <a href="#" >aliquet</a>
            <a href="#" >ultricies</a>
            <a href="#" >lorem</a>
            <a href="#" >lorem</a>
            <a href="#" >amet</a>
            <a href="#" >nunc</a>
            <a href="#" >ut</a>
        </div>
        </div>
      </div>
    </div>
  </div>
<!-- scripts -->
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="assets/js/rt-plugins.js"></script>
<script src="https://unpkg.com/phosphor-icons"></script>
<script src="assets/js/app.js"></script>



</body>
</html>