<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Raple || Presentation</title>
    <link rel="icon" type="image/png" href="assets/images/logo/logo-icon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/aos.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/customfont.css" />
    <link rel="stylesheet" href="assets/css/metisMenu.min.css" />
    <link rel="stylesheet" href="assets/css/simplebar.css" />
    <link rel="stylesheet" href="assets/css/app.min.css" />
  </head>
  <body class="light shocase">
    {% block content %}{% endblock %} {% include "../layout/setting.html" %}
    <!-- scripts -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/tippy-bundle.umd.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/simplebar.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
