<div class="app-settings" id="appSettings">
  <div class="inner-content">
    <div class="settings-images row smallgap">
      <div class="col-md-6">
        <div class="form-check p-0">
          <label class="d-block pointer" for="vertical_lable">
            <img src="assets/images/all-img/d-1.png" alt="" class="w-100" />
          </label>
          <input
            class="form-check-input d-block pointer"
            type="radio"
            name="flexRadioDefault"
            id="vertical_lable"
            checked
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-check p-0">
          <label
            class="form-check-label d-block pointer"
            for="horizental_label"
          >
            <img src="assets/images/all-img/d-2.png" alt="" />
          </label>
          <input
            class="form-check-input d-block pointer"
            type="radio"
            name="flexRadioDefault"
            id="horizental_label"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="settings-overlay"></div>
