h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading-font;
  color: var(--gray-900);
  font-weight: 500;
}

@each $cheadingfont in $headingfontSize {
  $i: index($headingfontSize, $cheadingfont);
  h#{$i},
  .text-h#{$i} {
    font-size: $cheadingfont;
    line-height: nth($headingLineheight, $i);
  }
}


@for $i from 10 through 40 {
  .f-size-#{$i} {
    font-size: $i * 1px !important;
  }
}

@for $i from 10 through 40 {
  .line-height-#{$i} {
    line-height: $i * 1px !important;
  }
}

.font-bold{
  font-weight: 700;
}
.black{
  font-weight: 900;
}
.font-medium{
  font-weight: 500;
}
.font-normal{
  font-weight: 400;
}
.font-semibold{
  font-weight: 600;
}


@each $currentfont in $bodyfontvariation {
  $i: index($bodyfontvariation, $currentfont);
  .body-font-#{$i} {
    font-size: $currentfont;
    line-height: nth($lineheightvariation, $i);
  }
}
