h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading-font;
  color: var(--gray-900);
  font-weight: 500;
}

@each $cheadingfont in $headingfontSize {
  $i: index($headingfontSize, $cheadingfont);
  h#{$i},
  .text-h#{$i} {
    font-size: $cheadingfont;
    line-height: nth($headingLineheight, $i);
  }
}






@for $i from 11 through 40 {
  .f-size-#{$i} {
    font-size: $i * 1px !important;
  }
}



@each $currentfont in $bodyfontvariation {
  $i: index($bodyfontvariation, $currentfont);
  .body-font-#{$i} {
    font-size: $currentfont;
    line-height: nth($lineheightvariation, $i);
  }
}
