.col-only-4 {
  @include flex-width(25%);
  @media (max-width: 1552px) {
    @include flex-width(33.33333333%);
  }
}
.col-only-3 {
  @include flex-width(33.33333333%);
}
.col-only-9 {
  @include flex-width(66.66666667%);
}
.sidebar-collapse {
  .col-only-4 {
    @media (max-width: 1552px) {
      @include flex-width(25%);
    }
  }
}
#world-map {
  height: 252px;
  width: 100%;
}
.info-table {
  th {
    border: none !important;
    padding: 12px 24px;
  }
  tr {
    padding: 12px 0;
    border-bottom: 1px solid #e5e7e8 !important;
  }
}

//most visited section
.donut-chart-wrap {
  padding: 14px 24px 10px;
}
#dount_chart {
  display: flex;
  justify-content: center;
}

.donut-chart-table {
  margin-bottom: 10px;
  overflow-x: auto;

  table {
    &.table {
      margin-bottom: 8px;
    }
    thead {
      tr {
        th {
          padding: 8px 12px;
          font-weight: 500;
          font-size: 10px;
          line-height: 100%;
          color: var(--gray-700);
          text-transform: uppercase;
          border-width: 0;
          white-space: nowrap;
          background-color: rgba(245, 246, 247, 1);
          &:last-child {
            padding-right: 24px;
          }
          &:first-child {
            padding-left: 24px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          padding: 8px 12px;
          box-shadow: none;
          white-space: nowrap;
          border-bottom-width: 0;

          img {
            margin-right: 7px;
          }
          &:first-child {
            padding-left: 24px;
            display: flex;
          }
          &:last-child {
            padding-right: 24px;
          }
        }
        td.extra-padding {
          padding-top: 16px !important;
        }
      }
    }
  }
}

.select-box.select-header {
  .custom-select-trigger {
    padding: 8px;
    height: 32px;
    border: none;
    min-width: 114px;
    color: var(--gray-700);
    background-color: var(--gray-50);
    &:after {
      right: 12px;
      border-bottom: 1.5px solid var(--gray-700);
      border-right: 1.5px solid var(--gray-700);
    }
  }
}

// opareting system
.operating-system {
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    @include max(400px) {
      display: block;
    }
  }
  &-item {
    flex: 0 0 33.33%;
    text-align: center;
    margin: 15px 0;
    @include max(600px) {
      flex: 0 0 50%;
    }
  }
  &-thumb {
    margin-bottom: 12px;
  }
  &-data {
    a {
      font-weight: 500;
      font-size: 10px;
      line-height: 100%;
      color: var(--primary-500);
      margin-bottom: 4px;
      text-transform: uppercase;
    }
    h4 {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      color: var(--gray-500);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
