.kanban-board {
  &-wrap {
    padding: 20px;
  }
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
    h5 {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
    }
  }
}

button.dots-three {
  border: none;
  background-color: transparent;
  path {
    transition: all 0.4s;
  }
  &:hover {
    path {
      fill: var(--gray-900);
    }
  }
}
 .kanbanboard_parent, #appkanban{
  overflow-x: auto;
  
}
.kanbanboard_child{
  max-width: 372px;
  flex: 0 0 372px;
  margin-right: 30px;
  &:last-child{
    margin-right: 0;
  }
}
.plain-btn{
  background: transparent;
  border: none;
}

.kanban-board{
  background: #fff;
  border-radius: 8px;
  //padding: 20px 24px;
}

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
}