.primary-button-list-wrap {
  margin-bottom: 70px;
}
.component-title {
  margin-bottom: 40px;
}

.primary-button-list {
  margin-bottom: 16px;
  display: flex;
  .btn {
    margin-right: 10px;
  }
}
