.padding-bottom {
  padding-bottom: 70px;
}

.primary-button-list-wrap {
  margin-bottom: 70px;
}
.component-title {
  margin-bottom: 40px;
}

.primary-button-list {
  margin-bottom: 16px;
  display: flex;
  .btn {
    margin-right: 10px;
  }
}

// file
.file-item.remove-class {
  width: 204px;
}

.banner-wrap.remove-class {
  width: 324px;
}
