{% extends "layout/layout.html" %}
{% set page_title = "Blank Page" %}
{% block content %}

<main class="app-wrapper">
  {% include "../templates/layout/header-footer/app-header.html" %}
  {% include "../templates/layout/header-footer/app-sidebar.html" %}
  {% include "../templates/layout/header-footer/topnavbar.html" %}
  <div class="content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 rt-mb-25">
            {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
          </div>
        </div>

        <div class="blank-section">
          <div class="blank-thumb">
            <img src="assets/images/all-img/blank.png" alt="">
          </div>
          <div class="blank-data">
            <h4>This is awesome blank page</h4>
            <p>Try adjusting your search or filter to find what you're looking for.</p>
            <a href="index.html" class="btn btn-primary pill btn-icon">
              <span class="button-content-wrapper">
                <span class="button-text">
                  Go to Home
                </span>
                <span class="button-icon">
                  <img src="assets/images/svg/house.svg" alt="">
                </span>
              </span>
            </a>
          </div>
        </div>

        <!-- End blank page -->

      </div>
    </div>
  </div>
</main>



{% endblock %}