{% extends "layout/layout.html" %}
{% set page_title = "Card" %}
{% block content %}

<main class="app-wrapper">
  {% include "../templates/layout/header-footer/app-header.html" %}
  {% include "../templates/layout/header-footer/app-sidebar.html" %}
  {% include "../templates/layout/header-footer/topnavbar.html" %}
  <div class="content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
          <!-- Breedcrumb -->
        <div class="row">
          <div class="col-12 rt-mb-25">
            {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
          </div>
        </div>

        <!-- Cards  -->
        <section class="cards">
            <div class="row">
              <div class="col-xxl-3 col-md-6 d-flex align-items-stretch">
                <div class="card-blog">
                  <div class="card-blog__img">
                    <img src="assets/images/all-img/img-one.png" alt="card-img">
                  </div>
                  <div class="card-blog__info">
                    <h2>This is a basic card title </h2>
                    <p>
                      Morbi pretium mollis justo, vitae dictum eros mollis ut. Aliquam erat volutpat. Ut egestas ipsum ut eros vulputate dapibus.
                    </p>
                    <a href="#" type="button" class="btn btn-primary2 pill btn-icon">
                      <span class="button-content-wrapper">
                           <span class="button-icon align-icon-right">
                             <i class="ph-arrow-right"></i>
                           </span>
                      <span class="button-text">
                             Read More
                           </span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6 d-flex align-items-stretch">
                <div class="card-bg">
                  <div class="card-bg__content" style="background: url('assets/images/all-img/cards/img-one.jpg') center center/cover no-repeat;">
                    <h2>This is a Basic Card Title</h2>
                    <p>Morbi pretium mollis justo, vitae dictum eros mollis ut. Aliquam erat volutpat. Ut egestas ipsum ut eros vulputate dapibus.</p>
                    <a href="#" class="btn btn-primary2 pill btn-icon">
                      <span class="button-content-wrapper">
                          <span class="button-icon align-icon-right">
                            <i class="ph-arrow-right"></i>
                          </span>
                      <span class="button-text">
                            Read More 
                          </span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-6">
                <div class="row">
                  <div class="col-md-6 d-flex align-items-stretch ">
                    <div class="card-basic">
                      <h2>This is a Basic Card Title </h2>
                      <p>
                        Morbi pretium mollis justo, vitae dictum eros mollis ut. Aliquam erat volutpat. Ut egestas ipsum ut eros vulputate dapibus.
                      </p>
                      <a href="#" class="card-basic-redirect">
                        Card Link
                        <span>
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.125 10H16.875" stroke="#005CE8" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#005CE8" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>                    
                         </span>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 d-flex align-items-stretch ">
                    <div class="card-basic card-basic--bg" style="background: url('assets/images/all-img/cards/img-two.png') center center/cover no-repeat;">
                      <h2>This is a Basic Card Title </h2>
                      <p>
                        Morbi pretium mollis justo, vitae dictum eros mollis ut. Aliquam erat volutpat. Ut egestas ipsum ut eros vulputate dapibus.
                      </p>
                      <a href="#" class="card-basic-redirect">
                        Card Link
                        <span>
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.125 10H16.875" stroke="#fff" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#fff" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>                    
                         </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 d-flex align-items-stretch ">
                    <div class="card-blog card-blog--two">
                      <div class="card-blog__img">
                        <img src="assets/images/all-img/img-two.png" alt="card-img">
                      </div>
                      <div class="card-blog__info">
                        <h2>This is a basic card title </h2>
                        <p>
                          Nam non nunc tellus. Quisque cursus ligula pharetra risus ultricies, nec ullamcorper elit suscipit. Aliquam commodo est ut finibus aliquet.
                        </p>
                        <div class="card-blog__buttons">
                          <a href="#" class="card-blog-redirect">
                            Card Link
                            <span>
                              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.125 10H16.875" stroke="#005CE8" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#005CE8" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>                    
                             </span>
                          </a>
                          <a href="#" class="card-blog-redirect">
                            Another Card Link
                            <span>
                              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.125 10H16.875" stroke="#005CE8" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#005CE8" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>                    
                             </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

      </div>
    </div>
  </div>
</main>



{% endblock %}