{% extends "layout/layout.html" %}
{% set page_title = "File Manager" %}
{% block content %}

<main class="app-wrapper">
    {% include "../templates/layout/header-footer/app-header.html" %}
    {% include "../templates/layout/header-footer/app-sidebar.html" %}
    {% include "../templates/layout/header-footer/topnavbar.html" %}
    <div class="content-wrapper">
      <div class="page-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 rt-mb-25">
                {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="d-flex justify-content-between flex-sm-row flex-column card-header">
                    <div>Browser Overview</div>
                    <div >
                      select
                    </div>
                  </div>
                  <div class="card-body">

                    
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis mollitia nemo esse ullam a veniam autem consectetur illo, aut nihil.
            <div class="form-check ">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>

            <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Default radio
  </label>
  </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-8">

                <div class="card">
                  <div class="d-flex justify-content-between flex-sm-row flex-column card-header">
                    <div>Browser Overview</div>
                    <div>
                      select
                    </div>
                  </div>
                  <div class="card-body ">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis mollitia nemo esse ullam a veniam autem consectetur illo, aut nihil.
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</main>

{% endblock %}
