{% extends "layout/layout.html" %} {% block content %}

<main class="app-wrapper">
  {% include "../templates/layout/header-footer/app-header.html" %} {% include
  "../templates/layout/header-footer/app-sidebar.html" %} {% include
  "../templates/layout/header-footer/topnavbar.html" %}
  <div class="content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 rt-mb-25">
            <div class="page-title body-font-3 font-semibold">
              <span class="inline-block rt-mr-5">👋</span> Hey, Kevin.
            </div>
            <div class="text-gray-600 body-font-4">
              Here is all your Relik analytics overview
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col  col-only-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between rt-mb-24">
                  <div>
                    <div class="f-size-12 line-height-16 font-medium text-gray-700 rt-mb-4 text-uppercase">
                      Active Visitors
                    </div>
                    <div class=" f-size-24 font-semibold">157,367</div>
                  </div>
                  <div class=" text-left text-lg-end text-success-500 body-font-4">
                    6.7% Increase
                  </div>
                </div>
                <div id="bar-chart1"></div>
              </div>
            </div>
          </div>
          <div class="col  col-only-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex  justify-content-between rt-mb-24">
                  <div>
                    <div class="f-size-12 line-height-16 font-medium text-gray-700 rt-mb-4 text-uppercase">
                      Visitor per minute
                    </div>
                    <div class=" f-size-24 font-semibold">9,741</div>
                  </div>
                  <div class=" text-left text-lg-end text-danger-500 body-font-4">
                    13.5% Decrease
                  </div>
                </div>
                <div id="area-spaline-bottom" class=" rt-mb-24"></div>
                <div id="area-spaline-bottom2"></div>
              </div>
            </div>
          </div>
          <div class="col  col-only-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex  justify-content-between rt-mb-48">
                  <div>
                    <div class="f-size-12 line-height-16 font-medium text-gray-700 rt-mb-4 text-uppercase">
                      Conversion Rate
                    </div>
                    <div class=" f-size-24 font-semibold">9.73%</div>
                  </div>
                  <div class=" text-left text-lg-end text-success-500 body-font-4">
                    3.5% Increase
                  </div>
                </div>
                <div id="barchart2"></div>
              </div>
            </div>
          </div>
          <div class="col  col-only-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex  justify-content-between rt-mb-24">
                  <div>
                    <div class="f-size-12 line-height-16 font-medium text-gray-700 rt-mb-4 text-uppercase">
                      bounce rate
                    </div>
                    <div class=" f-size-24 font-semibold">81.94%</div>
                  </div>
                  <div class=" text-left text-lg-end text-success-500 body-font-4">
                    1.1% Increase
                  </div>
                </div>
                <div id="line-1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-9">
            <div class="card">
              <div class="d-flex justify-content-between flex-sm-row flex-column card-header">
                <div>User Overview</div>
                
              </div>
              <div class="card-body">
                <div id="user_chart"></div>
              </div>
            </div>

          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="d-flex justify-content-between flex-sm-row flex-column card-header">
                <div>Most Visited Page</div>
                
              </div>
              <div class="card-body">
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-xxl-3">
            <div class="card">
              <div class="d-flex justify-content-between flex-sm-row flex-column card-header">
                <div>Browser Overview</div>
                
              </div>
              <div class="card-body pb-0">
                <div class="row">
                  <div class="col-sm-6 col-12 text-center rt-mb-24">
                    <div class="borwser-img rt-mb-15">
                      <img src="assets/images/all-img/chrome.svg" alt="" draggable="false">
                    </div>
                    <div class="body-font-4  text-black font-semibold rt-mb-2">Google Chrome</div>
                    <div class="body-font-4  text-gray ">54% User</div>
                    

                  </div>
                  <div class="col-sm-6 col-12 text-center rt-mb-24">
                    <div class="borwser-img rt-mb-15">
                      <img src="assets/images/all-img/firefox.svg" alt="" draggable="false">
                    </div>
                    <div class="body-font-4  text-black font-semibold rt-mb-2">Firefox</div>
                    <div class="body-font-4  text-gray ">23% User</div>

                  </div>
                  <div class="col-sm-6 col-12 text-center rt-mb-24">
                    <div class="borwser-img rt-mb-15">
                      <img src="assets/images/all-img/edge.svg" alt="" draggable="false">
                    </div>
                 
                    <div class="body-font-4  text-black font-semibold rt-mb-2">Microsoft Edge</div>
                    <div class="body-font-4  text-gray ">19% User</div>

                  </div>
                  <div class="col-sm-6 col-12 text-center rt-mb-24">
                    <div class="borwser-img rt-mb-15">
                      <img src="assets/images/all-img/breve.svg" alt="" draggable="false">
                    </div>
                    
                    <div class="body-font-4  text-black font-semibold rt-mb-2">Brave</div>
                    <div class="body-font-4  text-gray ">11% User</div>

                  </div>
                  <div class="col-sm-6 col-12 text-center rt-mb-24">
                    <div class="borwser-img rt-mb-15">
                      <img src="assets/images/all-img/safari.svg" alt="" draggable="false">
                    </div>
                    
                    <div class="body-font-4  text-black font-semibold rt-mb-2">Apple Safari</div>
                    <div class="body-font-4  text-gray ">7% User</div>

                  </div>
                  <div class="col-sm-6 col-12 text-center rt-mb-24">
                    <div class="borwser-img rt-mb-15">
                      <img src="assets/images/all-img/opera.svg" alt="" draggable="false">
                    </div>
                    <div class="body-font-4  text-black font-semibold rt-mb-2">Opera</div>
                    <div class="body-font-4  text-gray ">3% User</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card">
              <div class="card-header">
                User Location
              </div>
              <div class="card-body">
                <div id="world-map"></div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3">
            <div class="card">
              <div class="d-flex justify-content-between flex-sm-row flex-column card-header">
                <div>Devices Overview</div>
                
              </div>
              <div class="card-body">
               <ul>
                 <li  class=" d-block">
                    <div class="rt-single-icon-box">
                      <div class="icon-thumb"><img src="assets/images/svg/big-laptop.svg" alt="" draggable="false"></div>
                    </div>
                 </li>
               </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
