{% extends "layout/layout-presentiton.html" %}

{% block content %}
     
    <!-- Header section  -->

    <header class="p-header">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
              <a class="navbar-brand" href="#">
                  <img src="assets/images/logo/white-logo.svg" alt="brand-logo">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home.html">Live Preview</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Documentation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Feature</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                  </li>
                </ul>
                 <ul>
                     <li class="d-flex align-items-center w-full justify-content-center ">
                        <a href="#" class="p-header__btn">
                            Purchase Now
                            <span>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.125 10H16.875" stroke="#005CE8" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#005CE8" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </a>
                     </li>
                 </ul>
              </div>
            </div>
          </nav>
    </header>

    <!-- Banner section  -->
    <section class="p-banner bn_image_1" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-0 ">
                    <div class="p-banner__text-info">
                        <h6>Compatible with: <span>Figma, HTLM 5, Vue.js, Laravel</span> </h6>
                        <h2>
                            Relik — Well-Designed 
                            <span>Admin Dashboard</span>
                        </h2>
                        <p>👉 Relik is a beautiful, simple, developer-friendly, highly customizable  admin dashboard template  with a 💎 high-quality UI & well-organized Figma file 🔥.</p>
                        
                        <ul class="d-flex align-items-center">
                            <li>
                                <a href="home.html" class="btn btn-primary pill multipule-color-strep">Live Preview</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-primary2 pill btn-icon">
                                    <span class="button-content-wrapper">
                                        <span class="button-icon align-icon-right">
                                          <i class="ph-arrow-right"></i>
                                        </span>
                                    <span class="button-text">
                                          Purchase Now
                                        </span>
                                    </span>
                                  </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-0 ">
                    <div
                     data-aos="fade-left"
                     data-aos-offset="0"
                     data-aos-delay="50"
                     data-aos-duration="700"
                     data-aos-easing="ease-in-out"
                     >
                        <img src="assets/images/all-img/Monitor.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section section-padding bg-white">
        <div class="container">
            <div class="presentation-content presentation-section-title">
                <h2
                data-aos="zoom-in"
                data-aos-offset="180"
                data-aos-delay="0"
                data-aos-duration="700"
                data-aos-easing="ease-in-out"
                >Features that you’ll love</h2>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 d-flex align-items-stretch">
                    <div class="feature-wrap">
                        <div class="feature-icon">
                            <i class="ph-swatches"></i>
                        </div>
                        <div class="feature-data">
                            <h4>Global Style Guide</h4>
                            <p>Auto-updatedable global style guide</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 d-flex align-items-stretch">
                    <div class="feature-wrap">
                        <div class="feature-icon">
                            <i class="ph-rocket"></i>
                        </div>
                        <div class="feature-data">
                            <h4>150+ Widgets & Components</h4>
                            <p>Drag & drop vector-based</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 d-flex align-items-stretch">
                    <div class="feature-wrap">
                        <div class="feature-icon">
                            <i class="ph-text-t"></i>
                        </div>
                        <div class="feature-data">
                            <h4>Free Google Fonts</h4>
                            <p>Pre-made 30+ text style</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 d-flex align-items-stretch">
                    <div class="feature-wrap">
                        <div class="feature-icon">
                            <i class="ph-pen-nib"></i>
                        </div>
                        <div class="feature-data">
                            <h4>100% Easy-to-use & Editable</h4>
                            <p>Customizable well-organized files</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End section -->

    <div class="section section-padding bg-gray-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div
                            data-aos="fade-right"
                            data-aos-offset="0"
                            data-aos-delay="0"
                            data-aos-duration="700"
                            data-aos-easing="ease-in-out"
                            class="card">
                                <div class="card-body">
                                    <div class="active-visitor-wrap">
                                        <div class="active-visitor-data">
                                            <p>Conversion Rate</p>
                                            <h3>9.73%</h3>
                                            <h4><img src="assets/images/svg/arrow-up.svg" alt="icon"> 3.5% Increase</h4>
                                        </div>
                                        <div class="active-visitor-icon bg-success-50">
                                            <img src="assets/images/svg/coffee.svg" alt="icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div
                            data-aos="fade-left"
                            data-aos-offset="0"
                            data-aos-delay="0"
                            data-aos-duration="700"
                            data-aos-easing="ease-in-out"
                            class="card">
                                <div class="card-body">
                                    <div class="active-visitor-wrap">
                                        <div class="active-visitor-data">
                                            <p>bounce rate</p>
                                            <h3>81.94%</h3>
                                            <h4><img src="assets/images/svg/arrow-up.svg" alt="icon"> 1.7% Increase</h4>
                                        </div>
                                        <div class="active-visitor-icon bg-danger-50">
                                            <img src="assets/images/svg/activity.svg" alt="icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="fun-fact-wrap">
                                        <div class="fun-fact-item">
                                            <div class="fun-fact-icon">
                                                <img src="assets/images/svg/user-circle.svg" alt="icon">
                                            </div>
                                            <div class="fun-fact-data">
                                                <h4>157,367</h4>
                                                <p>Total users</p>
                                            </div>
                                        </div>
                                        <div class="fun-fact-item">
                                            <div class="fun-fact-icon">
                                                <img src="assets/images/svg/hand-pointing.svg" alt="icon">
                                            </div>
                                            <div class="fun-fact-data">
                                                <h4>9,741</h4>
                                                <p>Click</p>
                                            </div>
                                        </div>
                                        <div class="fun-fact-item">
                                            <div class="fun-fact-icon">
                                                <img src="assets/images/svg/pencil-circle.svg" alt="icon">
                                            </div>
                                            <div class="fun-fact-data">
                                                <h4>9.73%</h4>
                                                <p>Conversion Rate</p>
                                            </div>
                                        </div>
                                        <div class="fun-fact-item">
                                            <div class="fun-fact-icon">
                                                <img src="assets/images/svg/book-open.svg" alt="icon">
                                            </div>
                                            <div class="fun-fact-data">
                                                <h4>81.94%</h4>
                                                <p>Bounce Rate</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div
                            data-aos="flip-left"
                            data-aos-offset="0"
                            data-aos-delay="60"
                            data-aos-duration="700"
                            data-aos-easing="ease-in-out"
                            class="card">
                                <div class="profile-left active-visitor">
                                    <div class="profile-thumb">
                                        <img src="assets/images/all-img/users/user1.png" alt="icon">
                                    </div>
                                    <div class="profile-data">
                                        <h4>Kevin Gilbert</h4>
                                        <p>Software Engineer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div
                            data-aos="flip-right"
                            data-aos-offset="0"
                            data-aos-delay="60"
                            data-aos-duration="700"
                            data-aos-easing="ease-in-out"
                            class="banner-wrap bg-secondary-500 active-visitor">
                                <div class="banner-icon">
                                    <img src="assets/images/svg/folder-open.svg" alt="icon">
                                </div>
                                <div class="banner-data">
                                    <p>Become a <span>Pro</span> <br> to get more <span>Space</span>
                                    </p>
                                    <button type="button" class="btn bg-white pill text-gray-900">Upgrade Plans</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 d-flex align-items-center">
                    <div class="presentation-content">
                        <h2
                        data-aos="zoom-in"
                        data-aos-offset="0"
                        data-aos-delay="0"
                        data-aos-duration="700"
                        data-aos-easing="ease-in-out"
                        >Build for for everyone</h2>
                        <p>Donec suscipit justo sit amet volutpat placerat. Cras tristique sodales ligula, id convallis dui ullamcorper id. Cras a
                        mi lectus. Etiam ut dignissim justo.</p>
                        <button type="button" class="btn btn-primary pill btn-icon">
                            <span class="button-content-wrapper">
                                <span class="button-icon align-icon-right">
                                    <i class="ph-arrow-right"></i>
                                </span>
                                <span class="button-text">
                                    Purchase Now
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End section -->

    <div class="section section-padding bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 order-lg-1">
                    <div
                    data-aos="fade-left"
                    data-aos-offset="0"
                    data-aos-delay="0"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    class="presentation-thumb">
                        <img src="assets/images/all-img/thumb1.jpg" alt="icon">
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="presentation-content">
                        <h2
                        data-aos="zoom-in"
                        data-aos-offset="180"
                        data-aos-delay="0"
                        data-aos-duration="700"
                        data-aos-easing="ease-in-out"
                        >Create, Customize & Manage Events in Calendar</h2>
                        <p>Donec suscipit justo sit amet volutpat placerat. Cras tristique sodales ligula, id convallis dui ullamcorper id. Cras a
                        mi lectus. Etiam ut dignissim justo. Aenean ac gravida nulla. Ut a velit nec massa interdum tempus id quis ante.</p>
                        <button type="button" class="btn btn-primary pill btn-icon">
                            <span class="button-content-wrapper">
                                <span class="button-icon align-icon-right">
                                    <i class="ph-arrow-right"></i>
                                </span>
                                <span class="button-text">
                                    Purchase Now
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End section -->

    <div class="section section-padding bg-gray-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div 
                    data-aos="fade-right"
                    data-aos-offset="0"
                    data-aos-delay="0"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    class="presentation-thumb">
                        <img src="assets/images/all-img/thumb2.jpg" alt="icon">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 d-flex align-items-center">
                    <div class="presentation-content">
                        <h2
                        data-aos="zoom-in"
                        data-aos-offset="180"
                        data-aos-delay="0"
                        data-aos-duration="700"
                        data-aos-easing="ease-in-out"
                        >Kanban Board to Manage with Team</h2>
                        <p>Donec suscipit justo sit amet volutpat placerat. Cras tristique sodales ligula, id convallis dui ullamcorper id. Cras a
                        mi lectus. Etiam ut dignissim justo.</p>
                        <ul>
                            <li
                            data-aos="zoom-out-up"
                            data-aos-offset="0"
                            data-aos-delay="90"
                            data-aos-duration="900"
                            data-aos-easing="ease-in-out"
                            ><img src="assets/images/svg/check-circle3.svg" alt="icon"> Create, Customize & Manage Cards & Boards.</li>
                            <li
                            data-aos="zoom-out-up"
                            data-aos-offset="0"
                            data-aos-delay="160"
                            data-aos-duration="1000"
                            data-aos-easing="ease-in-out"
                            ><img src="assets/images/svg/check-circle3.svg" alt="icon"> Post Comments on Cards.</li>
                            <li
                            data-aos="zoom-out-up"
                            data-aos-offset="0"
                            data-aos-delay="240"
                            data-aos-duration="1200"
                            data-aos-easing="ease-in-out"
                            ><img src="assets/images/svg/check-circle3.svg" alt="icon"> Add Card Label, Due Date & Priority</li>
                            <li
                            data-aos="zoom-out-up"
                            data-aos-offset="0"
                            data-aos-delay="280"
                            data-aos-duration="1400"
                            data-aos-easing="ease-in-out"
                            ><img src="assets/images/svg/check-circle3.svg" alt="icon"> Attach File.</li>
                        </ul>
                        <button type="button" class="btn btn-primary pill btn-icon">
                            <span class="button-content-wrapper">
                                <span class="button-icon align-icon-right">
                                    <i class="ph-arrow-right"></i>
                                </span>
                                <span class="button-text">
                                    Purchase Now
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End section -->

    <div class="cta-section bn_image_2">
        <div class="container">
            <div class="presentation-content cta-content">
                <h2
                data-aos="zoom-in"
                data-aos-offset="180"
                data-aos-delay="0"
                data-aos-duration="700"
                data-aos-easing="ease-in-out"
                >No more talk, Purchase it now</h2>
                <p>Donec suscipit justo sit amet volutpat placerat. Cras tristique sodales ligula, id convallis dui ullamcorper id. Cras a
                mi lectus. Etiam ut dignissim justo.</p>
                <div class="presentation-button">
                    <a href="home.html" class="btn btn-dark3 pill rt-mr-12">Live Preview</a>
                    <button type="button" class="btn btn-primary pill btn-icon">
                        <span class="button-content-wrapper">
                            <span class="button-icon align-icon-right">
                                <i class="ph-arrow-right"></i>
                            </span>
                            <span class="button-text">
                                Purchase Now
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End cta section -->

    {% endblock %}
