{% extends "layout/layout.html" %}
{% set page_title = "Kanban Board" %}
{% block content %}

<main class="app-wrapper">
  {% include "../templates/layout/header-footer/app-header.html" %}
  {% include "../templates/layout/header-footer/app-sidebar.html" %}
  {% include "../templates/layout/header-footer/topnavbar.html" %}
  <div class="content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 rt-mb-25">
            {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div id="board" class="board">
              <div class="d-flex kanbanboard_parent" id="kanban_board_parent">
                <div class="kanbanboard_child">
                  <div class="card">
                      <div class="card-body" >
                        <div class="kanban-board-header">
                          <h5>To-do</h5>
                          <button class="dots-three text-gray-400 f-size-24" type="button">
                            <img src="assets/images/svg/dot.svg" alt="clock">
                          </button>
                        </div>
                        <div id="task-1">
                         
                          <div id="todo">
                            <div class="card-priority rt-mb-12">
                              <!-- top bar  -->
                              <div class="card-priority__header">
                                <div class="date">
                                  <span class="icon">
                                    <img src="assets/images/svg/clock.svg" alt="clock">
                                  </span>
                                  <p>14 Nov, 2021</p>
                                </div>
                                <!-- actions  -->
                                <div class="card-priority__actions">
                                  <button class="dots-three text-gray-400 f-size-24" type="button" id="downMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="assets/images/svg/dot.svg" alt="clock">
                                  </button>
                                  <ul class="dropdown-menu dropdown-actions" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start">
                                   
          
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/pen.svg" alt="pen">
                                            </span>
                                        Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/copy-link.svg" alt="copylink">
                                            </span>
                                        Copy Link
                                      </a>
                                    </li>
                                    <li>
                                      <button   type="button"  class="dropdown-item remove-killer plain-btn">
    <span>
          <img src="assets/images/svg/trash.svg" alt="copylink">
        </span>
    Delete
  </button>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                       
                              <!-- labels  -->
                              <div class="card-priority__labels">
                                <ul>
                                  <li><span class="labels medium">Medium Priority</span></li>
                                  <li><span class="labels urgent"><img class="rt-mr-6" src="assets/images/svg/red-circle.svg" alt=""> Urgents</span></li>
                                </ul>
                              </div>
                              <h2 class="card-priority__title">
                                Meeting with UI/UX Team to manage our upcoming projects &amp; task.
                              </h2>
                              <!-- priority footer  -->
                              <div class="card-priority__footer">
                                <div>
                                  <ul class="labels-info">
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/attach.svg" alt="icon">
                                        </span>
                                        5
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/comments.svg" alt="icon">
                                        </span>
                                        19
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div>
                                  <ul class="users">
                                    <li class="users-item"><img src="assets/images/all-img/users/user1.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/three.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/two.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/one.png" alt="user-photo"></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="card-priority rt-mb-12">
                              <!-- top bar  -->
                              <div class="card-priority__header">
                                <div class="date">
                                  <span class="icon">
                                    <img src="assets/images/svg/clock.svg" alt="clock">
                                  </span>
                                  <p>14 Nov, 2021</p>
                                </div>
                                <!-- actions  -->
                                <div class="card-priority__actions">
                                  <button class="dots-three text-gray-400 f-size-24" type="button" id="downMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="assets/images/svg/dot.svg" alt="clock">
                                  </button>
                                  <ul class="dropdown-menu dropdown-actions" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start">
                                   
          
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/pen.svg" alt="pen">
                                            </span>
                                        Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/copy-link.svg" alt="copylink">
                                            </span>
                                        Copy Link
                                      </a>
                                    </li>
                                    <li>
                                      <button   type="button"  class="dropdown-item remove-killer plain-btn">
    <span>
          <img src="assets/images/svg/trash.svg" alt="copylink">
        </span>
    Delete
  </button>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                       
                              <!-- labels  -->
                              <div class="card-priority__labels">
                                <ul>
                                  <li><span class="labels medium">Medium Priority</span></li>
                                  <li><span class="labels urgent"><img class="rt-mr-6" src="assets/images/svg/red-circle.svg" alt=""> Urgents</span></li>
                                </ul>
                              </div>
                              <h2 class="card-priority__title">
                                Meeting with UI/UX Team to manage our upcoming projects &amp; task.
                              </h2>
                              <!-- priority footer  -->
                              <div class="card-priority__footer">
                                <div>
                                  <ul class="labels-info">
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/attach.svg" alt="icon">
                                        </span>
                                        5
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/comments.svg" alt="icon">
                                        </span>
                                        19
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div>
                                  <ul class="users">
                                    <li class="users-item"><img src="assets/images/all-img/users/user1.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/three.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/two.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/one.png" alt="user-photo"></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div>
                              <button type="button"  class="btn btn-primary2  waves-effect  primary-dark pill btn-icon d-block"  id="toboad_task" name="button-group">
                                <span class="button-content-wrapper">
                                <span class="button-icon align-icon-left">
                                  <i class="ph-plus"></i>
                                </span>
                                <span class="button-text" >
                                  Add new card
                                </span>
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  
                </div>
                <div class="kanbanboard_child">
                  <div class="card">
                      <div class="card-body" >
                        <div class="kanban-board-header">
                          <h5>Doing</h5>
                          <button class="dots-three text-gray-400 f-size-24" type="button">
                            <img src="assets/images/svg/dot.svg" alt="clock">
                          </button>
                        </div>
                        <div id="task-2">
                          <div id="doing">
                            <div class="card-priority rt-mb-12">
                              <!-- top bar  -->
                              <div class="card-priority__header">
                                <div class="date">
                                  <span class="icon">
                                    <img src="assets/images/svg/clock.svg" alt="clock">
                                  </span>
                                  <p>14 Nov, 2021</p>
                                </div>
                                <!-- actions  -->
                                <div class="card-priority__actions">
                                  <button class="dots-three text-gray-400 f-size-24" type="button" id="downMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="assets/images/svg/dot.svg" alt="clock">
                                  </button>
                                  <ul class="dropdown-menu dropdown-actions" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start">
                                   
          
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/pen.svg" alt="pen">
                                            </span>
                                        Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/copy-link.svg" alt="copylink">
                                            </span>
                                        Copy Link
                                      </a>
                                    </li>
                                    <li>
                                      <button   type="button"  class="dropdown-item remove-killer plain-btn">
    <span>
          <img src="assets/images/svg/trash.svg" alt="copylink">
        </span>
    Delete
  </button>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                       
                              <!-- labels  -->
                              <div class="card-priority__labels">
                                <ul>
                                  <li><span class="labels medium">Medium Priority</span></li>
                                  <li><span class="labels urgent"><img class="rt-mr-6" src="assets/images/svg/red-circle.svg" alt=""> Urgents</span></li>
                                </ul>
                              </div>
                              <h2 class="card-priority__title">
                                Meeting with UI/UX Team to manage our upcoming projects &amp; task.
                              </h2>
                              <!-- priority footer  -->
                              <div class="card-priority__footer">
                                <div>
                                  <ul class="labels-info">
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/attach.svg" alt="icon">
                                        </span>
                                        5
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/comments.svg" alt="icon">
                                        </span>
                                        19
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div>
                                  <ul class="users">
                                    <li class="users-item"><img src="assets/images/all-img/users/user1.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/three.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/two.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/one.png" alt="user-photo"></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div>
                              <button type="button"  class="btn btn-primary2  waves-effect  primary-dark pill btn-icon d-block"  id="doingboard_task" name="button-group">
                                <span class="button-content-wrapper" >
                                <span class="button-icon align-icon-left">
                                  <i class="ph-plus"></i>
                                </span>
                                <span class="button-text" >
                                  Add new card
                                </span>
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  
                </div>
                <div class="kanbanboard_child">
                  <div class="card">
                      <div class="card-body">
                        <div class="kanban-board-header">
                          <h5>Done</h5>
                          <button class="dots-three text-gray-400 f-size-24" type="button">
                            <img src="assets/images/svg/dot.svg" alt="clock">
                          </button>
                        </div>
                        <div id="task-3">
                          <div id="done">
                            <div class="card-priority rt-mb-12">
                              <!-- top bar  -->
                              <div class="card-priority__header">
                                <div class="date">
                                  <span class="icon">
                                    <img src="assets/images/svg/clock.svg" alt="clock">
                                  </span>
                                  <p>14 Nov, 2021</p>
                                </div>
                                <!-- actions  -->
                                <div class="card-priority__actions">
                                  <button class="dots-three text-gray-400 f-size-24" type="button" id="downMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="assets/images/svg/dot.svg" alt="clock">
                                  </button>
                                  <ul class="dropdown-menu dropdown-actions" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start">
                                   
          
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/pen.svg" alt="pen">
                                            </span>
                                        Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/copy-link.svg" alt="copylink">
                                            </span>
                                        Copy Link
                                      </a>
                                    </li>
                                    <li>
                                      <button   type="button"  class="dropdown-item remove-killer plain-btn">
    <span>
          <img src="assets/images/svg/trash.svg" alt="copylink">
        </span>
    Delete
  </button>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                       
                              <!-- labels  -->
                              <div class="card-priority__labels">
                                <ul>
                                  <li><span class="labels medium">Medium Priority</span></li>
                                  <li><span class="labels urgent"><img class="rt-mr-6" src="assets/images/svg/red-circle.svg" alt=""> Urgents</span></li>
                                </ul>
                              </div>
                              <h2 class="card-priority__title">
                                Meeting with UI/UX Team to manage our upcoming projects &amp; task.
                              </h2>
                              <!-- priority footer  -->
                              <div class="card-priority__footer">
                                <div>
                                  <ul class="labels-info">
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/attach.svg" alt="icon">
                                        </span>
                                        5
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/comments.svg" alt="icon">
                                        </span>
                                        19
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div>
                                  <ul class="users">
                                    <li class="users-item"><img src="assets/images/all-img/users/user1.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/three.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/two.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/one.png" alt="user-photo"></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div>
                              <button type="button"  class="btn btn-primary2  waves-effect  primary-dark pill btn-icon d-block"  id="done_task" name="button-group">
                                <span class="button-content-wrapper">
                                <span class="button-icon align-icon-left">
                                  <i class="ph-plus"></i>
                                </span>
                                <span class="button-text" >
                                  Add new card
                                </span>
                                </span>
                              </button>
                            </div>
                            
                          </div>
                        </div>
                         
                      </div>
                  </div>
                  
                </div>
                <div class="kanbanboard_child">
                  <div class="card">
                    <div class="card-body">
                      <button class=" btn  text-primary" data-bs-toggle="modal" data-bs-target="#createboard-modal"> 
                        <i class="ph-plus"></i>    Add new Column
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->
        
        <div class="card-details-wrap">
            <div class="card-details-header">
              <p>header</p>
              <p>header</p>
            </div>
            <div class="card-details-body">
                <div class="project-idea-wrap">
                  <div class="project-idea-header">
                    <h3>New Project Idea & Research <span class="badge rounded-pill bg-danger-50 text-danger-500 rt-ml-8">High Priority</span></h3>
                  </div>
                  <div class="project-idea-body">
                    <div class="project-idea-data">
                        <h5>Label</h5>
                        <span><img class="rt-mr-6" src="assets/images/svg/red-circle.svg" alt="">Urgents</span>
                    </div>
                    <div class="project-idea-data">
                      <h5>Created date</h5>
                      <p>12 Nov, 2021 at 9:40 PM</p>
                    </div>
                    <div class="project-idea-data">
                      <h5>Due Date</h5>
                      <p>15 Nov, 2021 at 10:00 AM</p>
                    </div>
                  </div>
                </div>
                <div class="project-description">
                  <h4>Description</h4>
                  <p>In lobortis fermentum venenatis. Phasellus orci libero, feugiat et velit non, sagittis feugiat eros. In placerat
                    risus
                    vitae est faucibus, in laoreet enim rutrum. Mauris posuere vitae felis at convallis. Integer consequat et tellus vel
                    tincidunt. Aenean rhoncus ligula eu risus molestie semper.</p>
                </div>
                <div class="project-member-column">
                  <h4>Members <span>(05)</span></h4>
                    <div class="project-member-wrap">
                      <div class="project-member-item">
                        <div class="project-member-thumb">
                          <img src="assets/images/all-img/users/user1.png" alt="">
                        </div>
                        <div class="project-member-data">
                          <h5>Brooklyn Simmons</h5>
                          <a href="#">ateniese@mac.com</a>
                        </div>
                      </div>
                      <div class="project-member-item">
                        <div class="project-member-thumb">
                          <img src="assets/images/all-img/users/two.png" alt="">
                        </div>
                        <div class="project-member-data">
                          <h5>Ralph Edwards</h5>
                          <a href="#">raines@optonline.com</a>
                        </div>
                      </div>
                      <div class="project-member-item">
                        <div class="project-member-thumb">
                          <img src="assets/images/all-img/users/one.png" alt="">
                        </div>
                        <div class="project-member-data">
                          <h5>Devon Lane</h5>
                          <a href="#">gravyface@mac.com</a>
                        </div>
                      </div>
                      <div class="project-member-item">
                        <div class="project-member-thumb">
                          <img src="assets/images/all-img/users/three.png" alt="">
                        </div>
                        <div class="project-member-data">
                          <h5>Arlene McCoy</h5>
                          <a href="#">kspiteri@live.com</a>
                        </div>
                      </div>
                      <div class="project-member-item">
                        <div class="project-member-thumb">
                          <img src="assets/images/all-img/users/one.png" alt="">
                        </div>
                        <div class="project-member-data">
                          <h5>Jane Cooper</h5>
                          <a href="#">mthurn@optonline.com</a>
                        </div>
                      </div>
                    </div>
                </div>
               
            </div>
            <div class="project-tab">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
                    aria-controls="home" aria-selected="true">Comments</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
                    aria-controls="profile" aria-selected="false">Attach File</button>
                </li>
              </ul>
              <div class="project-tab-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="post-comment-wrap">
                        <h4>Post Comments</h4>
                        <form action="#">
                          <div class="fromGroup post-comment has-icon mb-4">
                            <div class="form-control-icon">
                              <input class="form-control" type="text" placeholder="Write down your questions and comments...">
                              <div class="icon-badge-2">
                                <img src="assets/images/svg/chat-circle-dots.svg" alt="">
                              </div>
                            </div>
                            <button type="button" class="btn btn-primary pill btn-icon">
                              <span class="button-content-wrapper">
                                <span class="button-icon align-icon-right">
                                  <i class="ph-arrow-right"></i>
                                </span>
                                <span class="button-text">
                                  Post
                                </span>
                              </span>
                            </button>
                          </div>
                        </form>
                      </div>
                      <div class="latest-comment-wrap">
                        <h4>Latest Comments</h4>
                          <div class="latest-comment-item">
                            <div class="latest-comment-thumb">
                                <img src="assets/images/all-img/users/three.png" alt="">
                            </div>
                            <div class="latest-comment-data">
                              <h5>Jane Cooper<span>10 mins ago</span></h5>
                              <p><a href="#">@Everyone</a>Great Job.</p>
                            </div>
                          </div>
                          <div class="latest-comment-item">
                            <div class="latest-comment-thumb">
                              <img src="assets/images/all-img/users/user1.png" alt="">
                            </div>
                            <div class="latest-comment-data">
                              <h5>Jane Cooper<span>10 mins ago</span></h5>
                              <p><a href="#">@Everyone</a>Great Job.</p>
                            </div>
                          </div>
                          <div class="latest-comment-item">
                            <div class="latest-comment-thumb">
                              <img src="assets/images/all-img/users/one.png" alt="">
                            </div>
                            <div class="latest-comment-data">
                              <h5>Jane Cooper<span>10 mins ago</span></h5>
                              <p><a href="#">@Everyone</a>Great Job.</p>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <div class="latest-comment-wrap">
                        <h4>Latest Comments</h4>
                        <div class="latest-comment-item">
                          <div class="latest-comment-thumb">
                            <img src="assets/images/all-img/users/three.png" alt="">
                          </div>
                          <div class="latest-comment-data">
                            <h5>Jane Cooper<span>10 mins ago</span></h5>
                            <p><a href="#">@Everyone</a>Great Job.</p>
                          </div>
                        </div>
                        <div class="latest-comment-item">
                          <div class="latest-comment-thumb">
                            <img src="assets/images/all-img/users/user1.png" alt="">
                          </div>
                          <div class="latest-comment-data">
                            <h5>Jane Cooper<span>10 mins ago</span></h5>
                            <p><a href="#">@Everyone</a>Great Job.</p>
                          </div>
                        </div>
                        <div class="latest-comment-item">
                          <div class="latest-comment-thumb">
                            <img src="assets/images/all-img/users/one.png" alt="">
                          </div>
                          <div class="latest-comment-data">
                            <h5>Jane Cooper<span>10 mins ago</span></h5>
                            <p><a href="#">@Everyone</a>Great Job.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              
            </div>
        </div>

        {% include "../templates/layout/header-footer/footer.html" %}
      </div>
    </div>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="createboard-modal" tabindex="-1" aria-labelledby="createboard-modalLabel" aria-hidden="true">
  <div class="modal-dialog createboard-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="body-font-3">Create New Column</h5>
        <button type="button" class="plain-btn"  data-bs-dismiss="modal" aria-label="Close">
          <img src="assets/images/svg/modal-close.svg" alt="" draggable="false">
        </button>
      </div>
      <div class="modal-body">
        <div class="rt-mb-24">
          <label class=" body-font-4 pointer block mb-2" for="board_title">Tittle</label>
        <input type="text" placeholder="Add label tittle" class="form-control" id="board_title">
        </div>
        <div class="createboard-modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-dark2 pill" data-bs-dismiss="modal">Cancel</button>
   
          <button type="button" class="btn btn-primary pill btn-icon" id="createboard">
            <span class="button-content-wrapper">
            <span class="button-icon align-icon-right">
              <i class="ph-arrow-right"></i>
            </span>
            <span class="button-text" >
              Create Column
            </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}