{% extends "layout/layout.html" %}
{% set page_title = "Kanban Board" %}
{% block content %}

<main class="app-wrapper">
  {% include "../templates/layout/header-footer/app-header.html" %}
  {% include "../templates/layout/header-footer/app-sidebar.html" %}
  {% include "../templates/layout/header-footer/topnavbar.html" %}
  <div class="content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 rt-mb-25">
            {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div id="board" class="board">
              <div class="d-flex kanbanboard_parent" id="kanban_board_parent">
                <div class="kanbanboard_child">
                  <div class="card">
                      <div class="card-body" >
                        <div class="kanban-board-header">
                          <h5>To-do</h5>
                          <button class="dots-three text-gray-400 f-size-24" type="button">
                            <img src="assets/images/svg/dot.svg" alt="clock">
                          </button>
                        </div>
                        <div id="task-1">
                         
                          <div id="todo">
                            <div class="card-priority rt-mb-12">
                              <!-- top bar  -->
                              <div class="card-priority__header">
                                <div class="date">
                                  <span class="icon">
                                    <img src="assets/images/svg/clock.svg" alt="clock">
                                  </span>
                                  <p>14 Nov, 2021</p>
                                </div>
                                <!-- actions  -->
                                <div class="card-priority__actions">
                                  <button class="dots-three text-gray-400 f-size-24" type="button" id="downMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="assets/images/svg/dot.svg" alt="clock">
                                  </button>
                                  <ul class="dropdown-menu dropdown-actions" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start">
                                   
          
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/pen.svg" alt="pen">
                                            </span>
                                        Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/copy-link.svg" alt="copylink">
                                            </span>
                                        Copy Link
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#!" class="dropdown-item remove-killer">
    <span>
          <img src="assets/images/svg/trash.svg" alt="copylink">
        </span>
    Delete
  </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                       
                              <!-- labels  -->
                              <div class="card-priority__labels">
                                <ul>
                                  <li><span class="labels medium">Medium Priority</span></li>
                                  <li><span class="labels urgent"><img class="rt-mr-6" src="assets/images/svg/red-circle.svg" alt=""> Urgents</span></li>
                                </ul>
                              </div>
                              <h2 class="card-priority__title">
                                Meeting with UI/UX Team to manage our upcoming projects &amp; task.
                              </h2>
                              <!-- priority footer  -->
                              <div class="card-priority__footer">
                                <div>
                                  <ul class="labels-info">
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/attach.svg" alt="icon">
                                        </span>
                                        5
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/comments.svg" alt="icon">
                                        </span>
                                        19
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div>
                                  <ul class="users">
                                    <li class="users-item"><img src="assets/images/all-img/users/user1.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/three.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/two.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/one.png" alt="user-photo"></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="card-priority rt-mb-12">
                              <!-- top bar  -->
                              <div class="card-priority__header">
                                <div class="date">
                                  <span class="icon">
                                    <img src="assets/images/svg/clock.svg" alt="clock">
                                  </span>
                                  <p>14 Nov, 2021</p>
                                </div>
                                <!-- actions  -->
                                <div class="card-priority__actions">
                                  <button class="dots-three text-gray-400 f-size-24" type="button" id="downMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="assets/images/svg/dot.svg" alt="clock">
                                  </button>
                                  <ul class="dropdown-menu dropdown-actions" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start">
                                   
          
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/pen.svg" alt="pen">
                                            </span>
                                        Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/copy-link.svg" alt="copylink">
                                            </span>
                                        Copy Link
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#!" class="dropdown-item remove-killer">
    <span>
          <img src="assets/images/svg/trash.svg" alt="copylink">
        </span>
    Delete
  </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                       
                              <!-- labels  -->
                              <div class="card-priority__labels">
                                <ul>
                                  <li><span class="labels medium">Medium Priority</span></li>
                                  <li><span class="labels urgent"><img class="rt-mr-6" src="assets/images/svg/red-circle.svg" alt=""> Urgents</span></li>
                                </ul>
                              </div>
                              <h2 class="card-priority__title">
                                Meeting with UI/UX Team to manage our upcoming projects &amp; task.
                              </h2>
                              <!-- priority footer  -->
                              <div class="card-priority__footer">
                                <div>
                                  <ul class="labels-info">
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/attach.svg" alt="icon">
                                        </span>
                                        5
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/comments.svg" alt="icon">
                                        </span>
                                        19
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div>
                                  <ul class="users">
                                    <li class="users-item"><img src="assets/images/all-img/users/user1.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/three.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/two.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/one.png" alt="user-photo"></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div>
                              <button type="button"  class="btn btn-primary2  waves-effect  primary-dark pill btn-icon d-block"  id="toboad_task" name="button-group">
                                <span class="button-content-wrapper">
                                <span class="button-icon align-icon-left">
                                  <i class="ph-plus"></i>
                                </span>
                                <span class="button-text" >
                                  Add new card
                                </span>
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  
                </div>
                <div class="kanbanboard_child">
                  <div class="card">
                      <div class="card-body" >
                        <div class="kanban-board-header">
                          <h5>Doing</h5>
                          <button class="dots-three text-gray-400 f-size-24" type="button">
                            <img src="assets/images/svg/dot.svg" alt="clock">
                          </button>
                        </div>
                        <div id="task-2">
                          <div id="doing">
                            <div class="card-priority rt-mb-12">
                              <!-- top bar  -->
                              <div class="card-priority__header">
                                <div class="date">
                                  <span class="icon">
                                    <img src="assets/images/svg/clock.svg" alt="clock">
                                  </span>
                                  <p>14 Nov, 2021</p>
                                </div>
                                <!-- actions  -->
                                <div class="card-priority__actions">
                                  <button class="dots-three text-gray-400 f-size-24" type="button" id="downMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="assets/images/svg/dot.svg" alt="clock">
                                  </button>
                                  <ul class="dropdown-menu dropdown-actions" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start">
                                   
          
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/pen.svg" alt="pen">
                                            </span>
                                        Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/copy-link.svg" alt="copylink">
                                            </span>
                                        Copy Link
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#!" class="dropdown-item remove-killer">
    <span>
          <img src="assets/images/svg/trash.svg" alt="copylink">
        </span>
    Delete
  </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                       
                              <!-- labels  -->
                              <div class="card-priority__labels">
                                <ul>
                                  <li><span class="labels medium">Medium Priority</span></li>
                                  <li><span class="labels urgent"><img class="rt-mr-6" src="assets/images/svg/red-circle.svg" alt=""> Urgents</span></li>
                                </ul>
                              </div>
                              <h2 class="card-priority__title">
                                Meeting with UI/UX Team to manage our upcoming projects &amp; task.
                              </h2>
                              <!-- priority footer  -->
                              <div class="card-priority__footer">
                                <div>
                                  <ul class="labels-info">
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/attach.svg" alt="icon">
                                        </span>
                                        5
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/comments.svg" alt="icon">
                                        </span>
                                        19
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div>
                                  <ul class="users">
                                    <li class="users-item"><img src="assets/images/all-img/users/user1.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/three.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/two.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/one.png" alt="user-photo"></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div>
                              <button type="button"  class="btn btn-primary2  waves-effect  primary-dark pill btn-icon d-block"  id="doingboard_task" name="button-group">
                                <span class="button-content-wrapper" >
                                <span class="button-icon align-icon-left">
                                  <i class="ph-plus"></i>
                                </span>
                                <span class="button-text" >
                                  Add new card
                                </span>
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  
                </div>
                <div class="kanbanboard_child">
                  <div class="card">
                      <div class="card-body">
                        <div class="kanban-board-header">
                          <h5>Done</h5>
                          <button class="dots-three text-gray-400 f-size-24" type="button">
                            <img src="assets/images/svg/dot.svg" alt="clock">
                          </button>
                        </div>
                        <div id="task-3">
                          <div id="done">
                            <div class="card-priority rt-mb-12">
                              <!-- top bar  -->
                              <div class="card-priority__header">
                                <div class="date">
                                  <span class="icon">
                                    <img src="assets/images/svg/clock.svg" alt="clock">
                                  </span>
                                  <p>14 Nov, 2021</p>
                                </div>
                                <!-- actions  -->
                                <div class="card-priority__actions">
                                  <button class="dots-three text-gray-400 f-size-24" type="button" id="downMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="assets/images/svg/dot.svg" alt="clock">
                                  </button>
                                  <ul class="dropdown-menu dropdown-actions" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start">
                                   
          
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/pen.svg" alt="pen">
                                            </span>
                                        Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item" >
                                        <span>
                                              <img src="assets/images/svg/copy-link.svg" alt="copylink">
                                            </span>
                                        Copy Link
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#!" class="dropdown-item remove-killer">
    <span>
          <img src="assets/images/svg/trash.svg" alt="copylink">
        </span>
    Delete
  </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                       
                              <!-- labels  -->
                              <div class="card-priority__labels">
                                <ul>
                                  <li><span class="labels medium">Medium Priority</span></li>
                                  <li><span class="labels urgent"><img class="rt-mr-6" src="assets/images/svg/red-circle.svg" alt=""> Urgents</span></li>
                                </ul>
                              </div>
                              <h2 class="card-priority__title">
                                Meeting with UI/UX Team to manage our upcoming projects &amp; task.
                              </h2>
                              <!-- priority footer  -->
                              <div class="card-priority__footer">
                                <div>
                                  <ul class="labels-info">
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/attach.svg" alt="icon">
                                        </span>
                                        5
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <span>
                                          <img src="assets/images/svg/comments.svg" alt="icon">
                                        </span>
                                        19
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div>
                                  <ul class="users">
                                    <li class="users-item"><img src="assets/images/all-img/users/user1.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/three.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/two.png" alt="user-photo"></li>
                                    <li class="users-item"><img src="assets/images/all-img/users/one.png" alt="user-photo"></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div>
                              <button type="button"  class="btn btn-primary2  waves-effect  primary-dark pill btn-icon d-block"  id="done_task" name="button-group">
                                <span class="button-content-wrapper">
                                <span class="button-icon align-icon-left">
                                  <i class="ph-plus"></i>
                                </span>
                                <span class="button-text" >
                                  Add new card
                                </span>
                                </span>
                              </button>
                            </div>
                            
                          </div>
                        </div>
                         
                      </div>
                  </div>
                  
                </div>
                <div class="kanbanboard_child">
                  <div class="card">
                    <div class="card-body">
                      <button class=" btn  text-primary" data-bs-toggle="modal" data-bs-target="#createboard-modal"> 
                        <i class="ph-plus"></i>    Add new Column
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include "../templates/layout/header-footer/footer.html" %}
      </div>
    </div>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="createboard-modal" tabindex="-1" aria-labelledby="createboard-modalLabel" aria-hidden="true">
  <div class="modal-dialog createboard-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="body-font-3">Create New Column</h5>
        <button type="button" class="plain-btn"  data-bs-dismiss="modal" aria-label="Close">
          <img src="assets/images/svg/modal-close.svg" alt="" draggable="false">
        </button>
      </div>
      <div class="modal-body">
        <div class="rt-mb-24">
          <label class=" body-font-4 pointer block mb-2" for="board_title">Tittle</label>
        <input type="text" placeholder="Add label tittle" class="form-control" id="board_title">
        </div>
        <div class="createboard-modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-dark2 pill" data-bs-dismiss="modal">Cancel</button>
   
          <button type="button" class="btn btn-primary pill btn-icon" id="createboard">
            <span class="button-content-wrapper">
            <span class="button-icon align-icon-right">
              <i class="ph-arrow-right"></i>
            </span>
            <span class="button-text" >
              Create Column
            </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}