{% extends "layout/layout.html" %}
{% set page_title = "Dashboard" %}
{% block content %}

<main class="app-wrapper">
  <div class="container">
    <div class="login-wrap">
      <a class="login-logo" href="index.html"><img src="assets/images/logo/logo.svg" alt=""></a>
      <div class="login-box">
        <div class="login-thumb">
          <img src="assets/images/all-img/thumb.jpg" alt="">
        </div>
        <div class="login-content">
          <h3>Create account in Relik</h3>
          <form action="#">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="fromGroup rt-mb-16">
                  <label>Name</label>
                  <input class="form-control" type="text" placeholder="Full name">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="fromGroup rt-mb-16">
                  <label>Email</label>
                  <input class="form-control" type="text" placeholder="Email address">
                </div>
              </div>
            </div>
            <div class="fromGroup eye rt-mb-16">
              <label>Current Password</label>
              <div class="form-control-icon">
                <input id="password-hide_show" class="form-control" type="password" placeholder="password">
                <div class="has-badge">
                  <i class="ph-eye"></i>
                </div>
              </div>
            </div>
            <div class="fromGroup eye rt-mb-24">
              <label>Confirm Password</label>
              <div class="form-control-icon">
                <input id="password-hide_show1" class="form-control" type="password" placeholder="Confirm password">
                <div class="has-badge select-icon__one">
                  <i class="ph-eye"></i>
                </div>
              </div>
            </div>
            <a href="login.html" class="btn btn-primary pill btn-icon d-block">
              <span class="button-content-wrapper">
                <span class="button-icon align-icon-right">
                  <i class="ph-arrow-right"></i>
                </span>
                <span class="button-text">
                  Login
                </span>
              </span>
            </a>
          </form>
          <div class="login-with">
            <p>or Login with</p>
          </div>
          <div class="social-icon-wrap">
            <a class="social-icon2" href=""><img src="assets/images/svg/google.svg" alt="">Google</a>
            <a class="social-icon2" href=""><img src="assets/images/svg/apple.svg" alt="">Apple</a>
            <a class="social-icon2" href=""><img src="assets/images/svg/facebook.svg" alt="">Facebook</a>
          </div>
        </div>
        
      </div>
      <p>Already have account! <a href="login.html">Log In</a>
      </p>
    </div>

  </div>
</main>

{% endblock %}