

{% extends "layout/layout.html" %}
{% set page_title = "Dashboard" %}
{% block content %}

<main class="app-wrapper" style="background-color: #fff; padding: 70px 0;">
  <div class="container">
      <div class="sitemap">
        <h1>Project Sitemap</h1>
        <ul>
        <li>
          <a href="index.html" target="_blank">Home Page</a>
        </li>
          <li>
            <a href="profile.html" target="_blank">Profile</a>
          </li>
          <li>
            <a href="setting.html" target="_blank">Setting</a>
          </li>
          <li>
            <a href="invoice.html" target="_blank">Invoice</a>
          </li>
          <li>
            <a href="invoice-detail.html" target="_blank">Invoice Detail</a>
          </li>
          <li>
            <a href="file-manager.html" target="_blank">File Manager</a>
          </li>
          <li>
            <a href="billing.html" target="_blank">Billing</a>
          </li>
          <li>
            <a href="pricing-plans.html" target="_blank">Pricing</a>
          </li>
          <li>
            <a href="faq.html" target="_blank">Faq</a>
          </li>
          <li>
            <a href="blank-page.html" target="_blank">Blank</a>
          </li>
          <li>
            <a href="login.html" target="_blank">Login</a>
          </li>
          <li>
            <a href="registration.html" target="_blank">Registration</a>
          </li>
          <li>
            <a href="form-elements.html" target="_blank">Form Elements</a>
          </li>
        </ul>
      </div>
   
  </div>
</main>

{% endblock %}