{% extends "layout/layout.html" %}
{% set page_title = "Dashboard" %}
{% block content %}

<main class="app-wrapper">
  {% include "../templates/layout/header-footer/app-header.html" %}
  {% include "../templates/layout/header-footer/app-sidebar.html" %}
  <div class="content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
                <h4>Primary Button</h4>
                <!-- button top -->
                <div class="primary-button-list-wrap">
                    <div class="primary-button-list">
                      <button type="button" class="btn bg-primary-500 text-white pill">Button</button>
                      <button type="button" class="btn bg-primary-600 text-white pill">Button</button>
                      <button type="button" class="btn bg-primary-50 text-primary-300 pill" disabled>Button</button>
                      <button type="button" class="btn bg-primary-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-primary-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-primary-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                    </div>
                    <div class="primary-button-list">
                      <button type="button" class="btn bg-gray-900 text-white pill">Button</button>
                      <button type="button" class="btn bg-gray-800 text-white pill">Button</button>
                      <button type="button" class="btn bg-gray-50 text-gray-300 pill" disabled>Button</button>
                      <button type="button" class="btn bg-gray-900 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-gray-900 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-gray-900 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                    </div>
                    <div class="primary-button-list">
                      <button type="button" class="btn bg-secondary-500 text-gray-900 pill">Button</button>
                      <button type="button" class="btn bg-secondary-600 text-gray-900 pill">Button</button>
                      <button type="button" class="btn bg-secondary-200 text-gray-500 pill" disabled>Button</button>
                      <button type="button" class="btn bg-secondary-500 text-gray-900 pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-black.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-secondary-500 text-gray-900 pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-black.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-black.svg" alt="">
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-secondary-500 text-gray-900 pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-black.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                    </div>
                    <div class="primary-button-list">
                      <button type="button" class="btn bg-success-500 text-white pill">Button</button>
                      <button type="button" class="btn bg-success-600 text-white pill">Button</button>
                      <button type="button" class="btn bg-success-50 text-success-300 pill" disabled>Button</button>
                      <button type="button" class="btn bg-success-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-success-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-success-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                    </div>
                    <div class="primary-button-list">
                      <button type="button" class="btn bg-warning-500 text-white pill">Button</button>
                      <button type="button" class="btn bg-warning-600 text-white pill">Button</button>
                      <button type="button" class="btn bg-warning-50 text-warning-300 pill" disabled>Button</button>
                      <button type="button" class="btn bg-warning-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-warning-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-warning-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                    
                    </div>
                    <div class="primary-button-list">
                      <button type="button" class="btn bg-danger-500 text-white pill">Button</button>
                      <button type="button" class="btn bg-danger-600 text-white pill">Button</button>
                      <button type="button" class="btn bg-danger-50 text-danger-300 pill" disabled>Button</button>
                      <button type="button" class="btn bg-danger-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-danger-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                          <span class="button-icon align-icon-right">
                            <img src="assets/images/svg/arrowright-white.svg" alt="">
                          </span>
                        </span>
                      </button>
                      <button type="button" class="btn bg-danger-500 text-white pill">
                        <span class="button-content-wrapper">
                          <span class="button-icon">
                            <img src="assets/images/svg/arrowleft-white.svg" alt="">
                          </span>
                          <span class="button-text">
                            Button
                          </span>
                        </span>
                      </button>
                    
                    </div>
                </div>

                <!-- button middle -->
                <div class="primary-button-list-wrap">
                  <div class="primary-button-list">
                    <button type="button" class="btn border border-primary-500 text-primary-500 pill">Button</button>
                    <button type="button" class="btn bg-primary-50 border border-primary-600 text-primary-600 pill">Button</button>
                    <button type="button" class="btn border border-primary-50 text-primary-200 pill" disabled>Button</button>
                    <button type="button" class="btn border border-primary-500 text-primary-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-blue.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border border-primary-500 text-primary-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-blue.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-blue.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border border-primary-500 text-primary-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-blue.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn border-gray-900 text-gray-900 pill">Button</button>
                    <button type="button" class="btn bg-gray-50 border-gray-800 text-gray-800 pill">Button</button>
                    <button type="button" class="btn border-gray-200 text-gray-200 pill" disabled>Button</button>
                    <button type="button" class="btn border-gray-900 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-gray-900 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-black.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-gray-900 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn border-secondary-500 text-gray-900 pill">Button</button>
                    <button type="button" class="btn bg-secondary-100 border-secondary-600 text-gray-900 pill">Button</button>
                    <button type="button" class="btn border-secondary-200 text-gray-500 pill" disabled>Button</button>
                    <button type="button" class="btn border-secondary-500 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-secondary-500 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-black.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-secondary-500 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn border-success-500 text-success-500 pill">Button</button>
                    <button type="button" class="btn bg-success-50 border-success-600 text-success-600 pill">Button</button>
                    <button type="button" class="btn border-success-50 text-success-200 pill" disabled>Button</button>
                    <button type="button" class="btn border-success-500 text-success-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-green.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-success-500 text-success-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-green.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-green.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-success-500 text-success-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-green.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn border-warning-500 text-warning-500 pill">Button</button>
                    <button type="button" class="btn bg-warning-50 border-warning-600 text-warning-600 pill">Button</button>
                    <button type="button" class="btn border-warning-50 text-warning-200 pill" disabled>Button</button>
                    <button type="button" class="btn border-warning-500 text-warning-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-orange.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-warning-500 text-warning-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-orange.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-orange.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-warning-500 text-warning-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-orange.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn border-danger-500 text-danger-500 pill">Button</button>
                    <button type="button" class="btn bg-danger-50 border-danger-600 text-danger-600 pill">Button</button>
                    <button type="button" class="btn border-danger-50 text-danger-200 pill" disabled>Button</button>
                    <button type="button" class="btn border-danger-500 text-danger-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-red.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-danger-500 text-danger-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-red.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-red.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn border-danger-500 text-danger-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-red.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                
                  </div>
                </div>

                <!-- button bottom -->

                <div class="primary-button-list-wrap">
                  <div class="primary-button-list">
                    <button type="button" class="btn bg-primary-50 text-primary-500 pill">Button</button>
                    <button type="button" class="btn bg-primary-100 text-primary-600 pill">Button</button>
                    <button type="button" class="btn bg-primary-50 text-primary-300 pill" disabled>Button</button>
                    <button type="button" class="btn bg-primary-50 text-primary-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-blue.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-primary-50 text-primary-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-blue.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-blue.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-primary-50 text-primary-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-blue.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn bg-gray-50 text-gray-900 pill">Button</button>
                    <button type="button" class="btn bg-gray-100 text-gray-600 pill">Button</button>
                    <button type="button" class="btn bg-gray-50 text-gray-300 pill" disabled>Button</button>
                    <button type="button" class="btn bg-gray-50 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-gray-50 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-black.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-gray-50 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn bg-secondary-100 text-gray-900 pill">Button</button>
                    <button type="button" class="btn bg-secondary-300 text-gray-900 pill">Button</button>
                    <button type="button" class="btn bg-secondary-100 text-gray-500 pill" disabled>Button</button>
                    <button type="button" class="btn bg-secondary-100 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-secondary-100 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-black.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-secondary-100 text-gray-900 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-black.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn bg-success-50 text-success-500 pill">Button</button>
                    <button type="button" class="btn bg-success-100 text-success-600 pill">Button</button>
                    <button type="button" class="btn bg-success-50 text-success-300 pill" disabled>Button</button>
                    <button type="button" class="btn bg-success-50 text-success-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-green.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-success-50 text-success-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-green.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-green.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-success-50 text-success-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-green.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn bg-warning-50 text-warning-500 pill">Button</button>
                    <button type="button" class="btn bg-warning-100 text-warning-600 pill">Button</button>
                    <button type="button" class="btn bg-warning-50 text-warning-300 pill" disabled>Button</button>
                    <button type="button" class="btn bg-warning-50 text-warning-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-orange.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-warning-50 text-warning-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-orange.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-orange.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-warning-50 text-warning-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-orange.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                  </div>
                  <div class="primary-button-list">
                    <button type="button" class="btn bg-danger-50 text-danger-500 pill">Button</button>
                    <button type="button" class="btn bg-danger-100 text-danger-600 pill">Button</button>
                    <button type="button" class="btn bg-danger-50 text-danger-300 pill" disabled>Button</button>
                    <button type="button" class="btn bg-danger-50 text-danger-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-red.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-danger-50 text-danger-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-red.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                        <span class="button-icon align-icon-right">
                          <img src="assets/images/svg/arrowright-red.svg" alt="">
                        </span>
                      </span>
                    </button>
                    <button type="button" class="btn bg-danger-50 text-danger-500 pill">
                      <span class="button-content-wrapper">
                        <span class="button-icon">
                          <img src="assets/images/svg/arrowleft-red.svg" alt="">
                        </span>
                        <span class="button-text">
                          Button
                        </span>
                      </span>
                    </button>
                
                  </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}