{% extends "layout/layout.html" %}
{% set body_class = "styleguide" %}
{% block content %}

<!--Navigation Area-->
<div class="container rt-pt-100">
    <div class="row">
        <div class="col-12">
            <h4 class="ft-wt-6">Navigation </h4>
        </div>
    </div>
</div>
<!--All Header Area-->
<section class="all-header-groups">
    <div class="container rt-pt-50">
        <div class="row">
            <div class="col-12">
                <h6 class="ft-wt-6">Normal</h6>
            </div>
        </div>
        <div class="rt-spacer-30"></div>
    </div>
    {% include "../templates/layout/header-footer/header-normal.html" %}
    <div class="container rt-pt-50">
        <div class="row">
            <div class="col-12">
                <h6 class="ft-wt-6">Candidates</h6>
            </div>
        </div>
        <div class="rt-spacer-30"></div>
    </div>
    {% include "../templates/layout/header-footer/header-candidates.html" %}
    <div class="container rt-pt-50">
        <div class="row">
            <div class="col-12">
                <h6 class="ft-wt-6">Employers</h6>
            </div>
        </div>
        <div class="rt-spacer-30"></div>
    </div>
    {% include "../templates/layout/header-footer/header-company.html" %}
</section>

<div class="container rt-pt-50">
    <div class="row">
        <div class="col-12">
            <h4 class="ft-wt-6">Footer Style </h4>
        </div>
    </div>
</div>
<!--All Footer Area-->
<section class="all-footer-groups">
    <div class="container rt-pt-50">
        <div class="row">
            <div class="col-12">
                <h6 class="ft-wt-6">Style One</h6>
            </div>
        </div>
        <div class="rt-spacer-30"></div>
    </div>
    {% include "../templates/layout/header-footer/footer.html" %}
    <div class="container rt-pt-50">
        <div class="row">
            <div class="col-12">
                <h6 class="ft-wt-6">Style Two</h6>
            </div>
        </div>
        <div class="rt-spacer-30"></div>
    </div>
    {% include "../templates/layout/header-footer/footer-two.html" %}
    <div class="container rt-pt-50">
        <div class="row">
            <div class="col-12">
                <h6 class="ft-wt-6">Style Three</h6>
            </div>
        </div>
        <div class="rt-spacer-30"></div>
    </div>
    {% include "../templates/layout/header-footer/footer-three.html" %}
</section>

<!--All Button Area-->
<div class="container rt-pt-70">
    <div class="row">
        <div class="col-12">
            <h4 class="ft-wt-6">Buttons</h4>
        </div>
    </div>
    <div class="rt-spacer-30"></div>
</div>
{% include "../templates/components/buttons/buttons.html" %}

<div class="rt-spacer-100"></div>

{% endblock %}
