{% extends "layout/layout.html" %}
{% set page_title = "Dashboard" %}
{% block content %}

<main class="app-wrapper" style="background-color: #fff; padding: 70px 0;">
    <div class="container">
      <div class="all-btn">
          <div class="component-title">
            <h4>All Button</h4>
          </div>
          <!-- button top -->
          <div class="primary-button-list-wrap">
            <div class="primary-button-list">
              <button type="button" class="btn btn-primary pill">Button</button>
              <button type="button" class="btn btn-primary pill" disabled>Button</button>
              <button type="button" class="btn btn-primary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-primary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-primary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-dark pill">Button</button>
              <button type="button" class="btn btn-dark pill" disabled>Button</button>
              <button type="button" class="btn btn-dark pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-dark pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-dark pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-secondary pill">Button</button>
              <button type="button" class="btn btn-secondary pill" disabled>Button</button>
              <button type="button" class="btn btn-secondary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-secondary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-secondary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-success pill">Button</button>
              <button type="button" class="btn btn-success pill" disabled>Button</button>
              <button type="button" class="btn btn-success pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-success pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-success pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-warning pill">Button</button>
              <button type="button" class="btn btn-warning pill" disabled>Button</button>
              <button type="button" class="btn btn-warning pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-warning pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-warning pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-danger pill">Button</button>
              <button type="button" class="btn btn-danger pill" disabled>Button</button>
              <button type="button" class="btn btn-danger pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-danger pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-danger pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
          </div>
          <!-- button middle -->
          <div class="primary-button-list-wrap">
            <div class="primary-button-list">
              <button type="button" class="btn btn-outline-primary pill">Button</button>
              <button type="button" class="btn btn-outline-primary pill" disabled>Button</button>
              <button type="button" class="btn btn-outline-primary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-primary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-primary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-outline-dark pill">Button</button>
              <button type="button" class="btn btn-outline-dark pill" disabled>Button</button>
              <button type="button" class="btn btn-outline-dark pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-dark pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-dark pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-outline-secondary pill">Button</button>
              <button type="button" class="btn btn-outline-secondary pill" disabled>Button</button>
              <button type="button" class="btn btn-outline-secondary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-secondary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-secondary pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-outline-success pill">Button</button>
              <button type="button" class="btn btn-outline-success pill" disabled>Button</button>
              <button type="button" class="btn btn-outline-success pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-success pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-success pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-outline-warning pill">Button</button>
              <button type="button" class="btn btn-outline-warning pill" disabled>Button</button>
              <button type="button" class="btn btn-outline-warning pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-warning pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-warning pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-outline-danger pill">Button</button>
              <button type="button" class="btn btn-outline-danger pill" disabled>Button</button>
              <button type="button" class="btn btn-outline-danger pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-danger pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-outline-danger pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
          
          </div>
          <!-- button bottom -->
          <div class="primary-button-list-wrap">
            <div class="primary-button-list">
              <button type="button" class="btn btn-primary2 pill">Button</button>
              <button type="button" class="btn btn-primary2 pill" disabled>Button</button>
              <button type="button" class="btn btn-primary2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
          
              <button type="button" class="btn btn-primary2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-primary2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-dark2 pill">Button</button>
              <button type="button" class="btn btn-dark2 pill" disabled>Button</button>
              <button type="button" class="btn btn-dark2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-dark2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-dark2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-secondary2 pill">Button</button>
              <button type="button" class="btn btn-secondary2 pill" disabled>Button</button>
              <button type="button" class="btn btn-secondary2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-secondary2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-secondary2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-success2 pill">Button</button>
              <button type="button" class="btn btn-success2 pill" disabled>Button</button>
              <button type="button" class="btn btn-success2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-success2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-success2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-warning2 pill">Button</button>
              <button type="button" class="btn btn-warning2 pill" disabled>Button</button>
              <button type="button" class="btn btn-warning2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-warning2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-warning2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-danger2 pill">Button</button>
              <button type="button" class="btn btn-danger2 pill" disabled>Button</button>
              <button type="button" class="btn btn-danger2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-danger2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
              <button type="button" class="btn btn-danger2 pill btn-icon">
                <span class="button-content-wrapper">
                  <span class="button-text">
                    Button
                  </span>
                  <span class="button-icon">
                    <i class="ph-arrow-left"></i>
                  </span>
                </span>
              </button>
            </div>
          </div>
          <!-- only icon button -->
          <div class="primary-button-list-wrap">
            <div class="primary-button-list">
              <button type="button" class="btn btn-primary rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-outline-primary rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-primary2 rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-dark rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-outline-dark rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-dark2 rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-secondary rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-secondary2 rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-success rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-outline-success rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-success2 rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-warning rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-outline-warning rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-warning2 rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
            </div>
            <div class="primary-button-list">
              <button type="button" class="btn btn-danger rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-outline-danger rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-danger2 rounded-circle icon-btn">
                <i class="ph-arrow-left"></i>
              </button>
            </div>
          </div>
      </div>
      <!-- End all btn -->

      <div class="pagination-section">
        <div class="component-title">
          <h4>Pagination</h4>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <i class="ph-arrow-left"></i>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">01</a></li>
            <li class="page-item active"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link" href="#">04</a></li>
            <li class="page-item"><a class="page-link" href="#">05</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <i class="ph-arrow-right"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- End pagination section -->
    </div>
</main>

{% endblock %}