{% extends "layout/layout.html" %}
{% set page_title = "Calender" %}
{% block content %}

<main class="app-wrapper">
  {% include "../templates/layout/header-footer/app-header.html" %}
  {% include "../templates/layout/header-footer/app-sidebar.html" %}
  {% include "../templates/layout/header-footer/topnavbar.html" %}
  <div class="content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 rt-mb-25">
            {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
          </div>
        </div>
        <div class="row">
          <div class="col-12">

              <div class="row">
                <div class="col-lg-3">
                      
                  <div class="card">
                    <div class="card-header">
                      Calendar
                    </div>
                    <div class="card-body">
                      <div class="date-picker-calender"></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      Types
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-check from-chekbox-custom mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="taskone" checked="">
                            <label for="taskone">Task</label>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-check from-chekbox-custom mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="tasktwo" checked="">
                            <label for="tasktwo">Events</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <div id="btn-new-event" class="btn btn-primary btn-lg">Create New Event</div>
                    </div>
                    <div class="card-body">
                      
                        <div id="external-events">
                          <div class="external-event fc-event bg-success" data-class="bg-success">
                            <i class="mdi mdi-checkbox-blank-circle font-size-11 me-2"></i>New Event Planning
                        </div>
                        <div class="external-event fc-event bg-info" data-class="bg-info">
                            <i class="mdi mdi-checkbox-blank-circle font-size-11 me-2"></i>Meeting
                        </div>
                        <div class="external-event fc-event bg-warning" data-class="bg-warning">
                            <i class="mdi mdi-checkbox-blank-circle font-size-11 me-2"></i>Generating Reports
                        </div>
                        <div class="external-event fc-event bg-danger" data-class="bg-danger">
                            <i class="mdi mdi-checkbox-blank-circle font-size-11 me-2"></i>Create New theme
                        </div>
                        </div>
                     
                    </div>
                  </div>
              </div> <!-- end col-->
                <div class="col-lg-9">
                  <div class="card">
                      <div class="card-body">
                          <div id="calendar_1" style="height: 800px;"></div>
                      </div>
                  </div>
              </div> <!-- end col -->
                  
              </div> 
              
            
          </div>
      </div>
      </div>
    </div>
  </div>
</main>



{% endblock %}