.banner {
  &-wrap {
    display: flex;
    padding: 24px;
    width: 100%;
    border-radius: 6px;
    @include max(325px) {
      padding: 15px;
    }
    @include max(1600px) {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  &-icon {
    flex-shrink: 0;
    margin-right: 24px;
    @include max(1600px) {
      margin: 0 0 10px;
    }
  }
  &-data {
    p {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 16px;
      color: var(--gray-900);
      span {
        font-weight: 600;
      }
    }
  }
}

.remove-class {
  .banner-wrap {
    width: 324px;
  }
}
