.card {
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #fff;
    margin-bottom: 24px;
    .card-body {
      padding: 20px 24px;
      .card-full-width-border {
        margin-left: -24px;
        margin-right: -24px;
        padding: 0px;
      }
    }
    .card-title {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      color: var(--gray-900);
      border-bottom: 1px solid #E5E7E8;
      padding: 16px 20px;
      margin: -20px -24px 16px -24px;
    }
    .card-header,
    .card-footer {
      font-size: 16px;
      line-height: 16px;
      padding: 16px 20px;
      font-weight: 500;
      color: var(--gray-900);
      border-color: #E5E7E8;
      background: transparent;
      &:first-child {
        border-radius: calc(9px - 1px) calc(9px - 1px) 0 0;
      }
      @include breakpoint(xs) {
        > div {
          padding: 5px 0;
        }
      }
    }
    .card-footer {
      padding: 24px;
    }
  

  }
  
// Blog 
.card-blog { 
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 8px 24px 0px #00000008;

  &__img { 
    width: 100%;
    height: 224px;
    overflow: hidden;
    margin-bottom: 24px;
    img { 
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info { 
    padding: 24px;
    padding-top: 0px;
    h2 { 
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 12px;
      text-transform: capitalize;
    }
    p { 
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: var(--gray-600);
    }
  }


  &-redirect { 
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-500);
    line-height: 20px;
   display: flex;
   align-items: center;
    text-transform: capitalize;
    white-space: nowrap;
    span { 
      margin-left: 12px;
    }
  }
 

  &--two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    @include max(767px) { 
      flex-direction: column;
    }
    .card-blog { 

      &__img { 
        margin: 0;
        padding: 0;
        width: 330px;
        flex-shrink: 0;
        @include max(767px) { 
          width: 100%;
        }
        img { 
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }

      &__info { 
        padding: 32px;
        @include max(767px) { 
          padding: 24px;
        }
        p { 
          margin-bottom: 24px;
        }
      }

      &__buttons { 
        display: flex;
        align-items: center;
        .card-blog-redirect { 
          &:nth-child(1) { 
            margin-right: 24px;
          }
        }
      }
    }
  }

}