.card-activity {
  &-user {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  &-icon {
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 16px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-data {
    h4 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 2px;
      color: var(--gray-900);
    }
    ul {
      li {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        color: var(--gray-500);
        position: relative;
        padding-right: 15px;
        &:before {
          content: "";
          right: 4px;
          top: 9px;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          position: absolute;
          background-color: var(--gray-500);
          &:last-child {
            padding: 0;
          }
        }
        &:last-child:before {
          content: none;
        }
      }
    }
  }
  &-wrap {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 24px;
    background-color: var(--danger-50);
  }
  &-header {
    margin-bottom: 16px;
    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #d50000;
      position: relative;
      padding-left: 18px;
      margin-bottom: 4px;
      &:before {
        content: "";
        left: 0;
        top: 5px;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        background-color: #d50000;
      }
    }
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;
      color: var(--gray-900);
    }
  }
  &-body {
    margin-bottom: 16px;
    ul {
      li {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
        color: var(--gray-700);
        img {
          margin-right: 8px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
