.pagination-section .pagination {
  margin-bottom: 20px;
}
.page-item {
  margin-right: 13px;
  &:last-child {
    margin-right: 0px;
  }
  .page-link {
    height: 40px;
    width: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-600);
    text-align: center;
    @include breakpoint(xs) {
      height: 35px;
      width: 35px;
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &:hover {
      background-color: var(--gray-50);
      color: var(--gray-900);
    }
  }
  &:first-child,
  &:last-child {
    .page-link {
      border-radius: 50%;
      font-size: 20px;
      background: var(--primary-50);
      color: var(--primary-500);
      &:hover {
        background: var(--primary-50);
        color: var(--primary-500);
      }
    }
  }
  &.active {
    .page-link {
      color: white;
      background-color: var(--primary-500);
    }
  }
}

.page-item.page-item2 {
  .page-link {
    width: 22px;
    height: 22px;
    font-size: 12px;
  }
  &:first-child,
  &:last-child {
    .page-link {
      font-size: 12px;
      background: transparent;
      color: var(--gray-500);
      &:hover {
        background-color: var(--gray-50);
        color: var(--gray-900);
      }
    }
  }
}
