.payment-history-list {
  @include breakpoint(lg) {
    overflow-x: scroll;
  }
  table {
    width: 100%;
    tbody {
      vertical-align: middle;
      tr {
        transition: all 0.4s;
        &:hover {
          background-color: var(--primary-50);
        }
        &:hover td {
          color: var(--gray-900);
        }
        &:hover .btn.small-btn {
          border: 2px solid white;
          background-color: transparent;
        }
        &:hover .icon-btn {
          path {
            stroke: white;
          }
        }
        &:hover .icon-btn {
          background-color: var(--primary-500) !important;
          border-color: white !important;
        }
        td.large-width {
          width: 180px;
        }
        td.large-width2 {
          width: 130px;
        }
        td {
          padding: 16px 24px;
          font-size: 14px;
          white-space: nowrap;
          @include breakpoint(lg) {
            padding: 16px 20px;
          }
          color: var(--gray-700);
        }
      }
    }

    .icon-btn {
      path {
        stroke: var(--primary-500);
      }
    }
    .btn.small-btn {
      padding: 9px 24px 9px 24px;
      border: 2px solid transparent;
    }
  }
}

.dropdown-wrap {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}
