.payment-card-column {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @include max(1450px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include max(1100px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include max(991px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include max(825px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.payment-card-add {
  width: 218px;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s;
  background: var(--primary-50);
  @include max(1100px) {
    width: 100%;
  }
  &:hover {
    background-color: var(--primary-100);
  }
  img {
    margin-bottom: 12px;
  }
  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: var(--gray-900);
  }
}

// card add end

.payment-card {
  &-wrap {
    width: 382px;
    padding: 28px 32px 28px;
    border-radius: 4px;
    background-size: cover;
    background-position: center center;
    @include max(1450px) {
      width: 100%;
    }
    @include breakpoint(md) {
      width: 100%;
    }
  }
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    position: relative;
    justify-content: space-between;
    &.header2 {
      margin-bottom: 45px;
    }
    h4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      margin: 0;
      color: white;
      span {
        font-weight: 400;
        opacity: 0.5;
        text-transform: uppercase;
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      margin: 0;
      color: white;
      font-weight: normal;
      text-transform: uppercase;
    }
    button.dots-btn {
      border: none;
      background-color: transparent;
      line-height: 1;
    }
  }
  &-number {
    display: flex;
    margin-bottom: 22px;
    justify-content: space-between;
    @include max(479px) {
      display: block;
    }
    &-left {
      display: flex;
      #textToCopy,
      #textToCopy2 {
        font-size: 24px;
        color: white;
        margin: 0;
      }
      button#copyButton,
      button#copyButton2 {
        border: none;
        line-height: 1;
        background-color: transparent;
      }
    }
    &-right {
      p {
        font-size: 12px;
        font-weight: normal;
        margin: 0 0 4px;
        color: white;
        opacity: 0.6;
      }
      h5 {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: white;
        line-height: 100%;
      }
    }
  }
}
