.tippy-box[data-theme~="light"] {
  color: inherit;
  box-shadow:0px 12px 40px rgba(25, 27, 28, 0.16); 
  border: 1px solid var(--gray-100);
  background-color: #fff;
}

.tippy-box[data-theme~="custom"] {
  box-shadow: 0px 0px 10px 0px rgba(#1b374e, 0.26);
  background-color: #fff;
}

.tippy-box[data-theme~="light"][data-placement^="top"] > .tippy-arrow:before {
  border-top-color: #fff;
}
.tippy-box[data-theme~="light"][data-placement^="bottom"]
  > .tippy-arrow:before {
  border-bottom-color: #fff;
}
.tippy-box[data-theme~="light"][data-placement^="left"] > .tippy-arrow:before {
  border-left-color: #fff;
}
.tippy-box[data-theme~="light"][data-placement^="right"] > .tippy-arrow:before {
  border-right-color: #fff;
}
.tippy-box[data-theme~="light"] > .tippy-backdrop {
  background-color: #fff;
}
.tippy-box[data-theme~="light"] > .tippy-svg-arrow {
  fill: #fff;
}

.tippy-box[data-theme~="custom="][data-placement^="top"] > .tippy-arrow:before {
  border-top-color: #fff;
}
.tippy-box[data-theme~="custom"][data-placement^="bottom"]
  > .tippy-arrow:before {
  border-bottom-color: #fff;
}
.tippy-box[data-theme~="custom"][data-placement^="left"] > .tippy-arrow:before {
  border-left-color: #fff;
}
.tippy-box[data-theme~="custom"][data-placement^="right"]
  > .tippy-arrow:before {
  border-right-color: #fff;
}
.tippy-box[data-theme~="custom"] > .tippy-backdrop {
  background-color: #fff;
}
.tippy-box[data-theme~="custom"] > .tippy-svg-arrow {
  fill: #fff;
}
