.app-settings {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 552px;
  height: 100vh;
  transition: all 0.24s ease-in-out;
  transform: translateX(20px);
  background: #fff;
  z-index: -1;
  @include hidden();
  .inner-content {
    padding: 24px;
  }
  &.open {
    z-index: 99999;
    transform: translateX(0px);
    @include vis();
  }
  .form-check {
    border: 1px solid #e5e7e8;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(25, 27, 28, 0.06);
    border-radius: 4px;
    label{
      font-size: 14px;
      line-height: 20px;
      color: var(--gray-900)
    }
    &.no-shadow{
      border: none;
      box-shadow: none;
    }
    cursor: pointer;
    margin:0px;
    .form-check-input {
      margin-left: 0px;
      height: 20px;
      width: 20px;
      &:focus{
        box-shadow: none;
      }
    }
    .bottom-content{
      padding: 16px; 
      span{
        margin-left: 8px;
        font-size: 14px;
        line-height: 20px;
        color: var(--gray-900)

      }
    }
  }
  .settings-header{
    padding: 16px 24px;
    box-shadow: inset 0px -1px 0px #E5E7E8;
  }
  hr{
    margin-left: -24px;
    margin-right: -24px;
  }
}
.settings-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  content: "";
  transition: all 0.24s ease-in-out;
  z-index: -1;
  @include hidden();
  &.open {
    z-index: 9999;
    @include vis();
  }
}

.setting-title{
  font-size: 18px;
  line-height: 24px;
  color: var(--text-gray-900);
  font-weight: 600;
  margin-bottom: 20px;
}