.rt-nav-tolls {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    @include breakpoint(lg) {
      display: none;
    }
    > li {
      margin-right: 18px;
      position: relative;
      @include breakpoint(xl) {
        margin-right: 10px;
      }
      &:last-child {
        margin-right: 0px;
      }
      @include breakpoint(xl) {
        button,
        .btn {
          padding: 7px 10px;
          font-size: 15px;
        }
      }
    }
  }
}
