<div class="app-sidebar">
    <div class="h-100" data-simplebar>
        <div class="sidebar-menu">
            <ul id="side-menu">
                <li class="menu-title">Dashboard</li>
                <li >
                    <a href="/" aria-expanded="false">  
                        <span class="icon-box"><i class="ph-house-line"></i></span>
                        <div class="text-box">
                            Dashboard
                        </div>
                    </a>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-users"></i></span>
                        <div class="text-box">Users</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="overview.html">Overview</a></li>
                        <li><a href="user-list.html">User list</a></li>
                        <li><a href="user-verification.html">User verification</a></li>
                        <li><a href="user-search.html">User search</a></li>
                        <li><a href="user-list-selected.html">User list selected</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);" aria-expanded="false">
                        <span class="icon-box"><i class="ph-image"></i></span>
                        <div class="text-box">Post</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="post-list.html">Post list</a></li>
                        <li><a href="post-search.html">Post Search</a></li>
                        <li><a href="post-overview.html">Post Overview</a></li>
                        <li><a href="post-list-selected.html">Post list selected</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);" aria-expanded="false">
                        <span class="icon-box"><i class="ph-camera"></i></span>
                        <div class="text-box">Story</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="story-overview.html">Story Overview</a></li>
                        <li><a href="story-search.html">Story Search</a></li>
                        <li><a href="story-list.html">Story list</a></li>
                        <li><a href="story-list-selected.html">Story list selected</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);" aria-expanded="false">
                        <span class="icon-box"><i class="ph-stack"></i></span>
                        <div class="text-box">Deactivated</div>
                     </a>
                     <ul class="sub-menu" aria-expanded="false">
                        <li><a href="deactivated-post.html">Deactivated post</a></li>
                        <li><a href="deactivated-user.html">Deactivated user</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);" aria-expanded="false">
                        <span class="icon-box"><i class="ph-presentation-chart"></i></span>
                        <div class="text-box">Report</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="user-report.html">User report</a></li>
                        <li><a href="post-report.html">Post report</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);" aria-expanded="false">
                        <span class="icon-box"><i class="ph-clipboard-text"></i></span>
                        <div class="text-box">Category</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="category.html">Category</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);" aria-expanded="false">
                        <span class="icon-box"><i class="ph-package"></i></span>
                        <div class="text-box">Keyword</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="keyword.html">Keyword</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);">
                        <span class="icon-box"><i class="ph-crown"></i></span>
                        <div class="text-box">Admins</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="admin-activity.html">Admins</a></li>
                        <li><a href="admin-activity.html">Admin Activity</a></li>
                        <li><a href="admin-list.html">Admin List</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);" aria-expanded="false">
                        <span class="icon-box"><i class="ph-notebook"></i>  </span>
                        <div class="text-box">FAQs & Support</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="faq-topics.html">Faq topics</a></li>
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                        <li><a href="faq-help-center.html">Faq help center</a></li>
                        <li><a href="faq-help-center-topice.html">Faq help center topics</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);" aria-expanded="false">
                        <span class="icon-box"><i class="ph-gear"></i></span>
                        <div class="text-box">Settings</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="setting.html">Setting</a></li>
                        <li><a href="setting-edit.html">Setting Edit</a></li>
                        <li><a href="setting-full-access.html">Setting full access</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
   
    
</div>