<header class="app-header rt-sticky">
    <div class="navbar align-items-center">
      <div class="container-fluid">
        <div class="left-content">
          <div class="logo-segment">
            <a href="/" class="brand-logo">
              <img src="assets/images/logo/logo.svg" alt="" draggable="false" class="logo-black">            
              <img src="assets/images/logo/logo-white.svg" alt="" draggable="false" class="logo-white">            
            </a>
            <a href="/" class="brand-logo white">
              <img src="assets/images/logo/logo-white.svg" alt="" draggable="false">            
            </a>
            <a href="/" class="collapse-in-logo "
              >
  
             <img src="assets/images/logo/logo-icon.svg" alt="" draggable="false">
                
            </a>
            <div class="opener_sidebar ">
              <i class="ph-list"></i>
            </div>
          </div>
          <div class="dashboard-message position-relative">
            <span class="back_sidebar_icon">
              <i class="ph-arrow-right"></i>
            </span>
            
          </div>
        </div>
        <div class="app-mian-serach">
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Search" />
              <button type="submit">
               <img src="assets/images/svg/search.svg" alt="" draggable="false"> 
              </button>
            </div>
          </form>
        </div>
        <div class="ms-auto">
          <div class="rt-nav-tolls d-flex align-items-center">
            <ul>
              <li class=" d-inline-block d-md-none">
                <div class="iconBox open-mbl-search pointer">
                  <img src="assets/images/svg/search.svg" alt="" />
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <button class=" dropdown-toggle pointer"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    English
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="iconBox page-setting pointer" id="layout">
                  <img src="assets/images/svg/grid.svg" alt="" draggable="false" class="for-v">               
                  <img src="assets/images/svg/grid2.svg" alt="" draggable="false" class="for-h">               
                </div>
              </li>
              <li>
                <div class="iconBox notifications pointer waves-effect primary-light">
                  <img src="assets/images/svg/bell.svg" alt="" draggable="false" class="for-v">               
                  <img src="assets/images/svg/bell2.svg" alt="" draggable="false" class="for-h">               
                </div>
              </li>
              <li>
                <div class="userProfileBox openaccount  pointer">
                  <img src="assets/images/all-img/user.svg" alt="" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>