<div class="app-sidebar">
    <div class="h-100" data-simplebar>
        <div class="sidebar-menu">
            <ul id="side-menu">
                <li class="menu-title no-margin">Dashboard</li>
                <li >
                    <a href="/" aria-expanded="false">  
                        <span class="icon-box"><i class="ph-house-line"></i></span>
                        <div class="text-box">
                            Dashboard
                        </div>
                    </a>
                </li>
                <li >
                    <a href="calendar.html" aria-expanded="false">  
                        <span class="icon-box"><i class="ph-calendar-blank"></i></span>
                        <div class="text-box">
                            Calendar
                        </div>
                    </a>
                    
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-clipboard-text"></i></span>
                        <div class="text-box">Kanban Board</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">User list</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-folder-notch-open"></i></span>
                        <div class="text-box">File Manager</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="file-manager.html">File Manager</a></li>
                        <li><a href="file-manager-new.html">Upload New File</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-puzzle-piece"></i></span>
                        <div class="text-box">Authentication</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">User list</a></li>
                    </ul>
                </li>
                <li class="menu-title">pages</li>
                <li class="has-child">
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-user"></i></span>
                        <div class="text-box">Profile</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">User list</a></li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-notebook"></i></span>
                        <div class="text-box">Invoice</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">User list</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-credit-card"></i></span>
                        <div class="text-box">Billing</div>
                    </a>
                    
                </li>
                <li >
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-lightning"></i></span>
                        <div class="text-box">Pricing Plans</div>
                    </a>
                   
                </li>
                <li>
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-question"></i></span>
                        <div class="text-box">FAQs</div>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-note-blank"></i></span>
                        <div class="text-box">Blank Page</div>
                    </a>
                </li>
                <li class=" menu-title">Components</li>
                <li>
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-cards"></i></span>
                        <div class="text-box">Card</div>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-list-dashes"></i></span>
                        <div class="text-box">Table</div>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-swatches"></i></span>
                        <div class="text-box">Form Elements</div>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-leaf"></i></span>
                        <div class="text-box">Widgets</div>
                    </a>
                </li>
                <li class=" has-child">
                    <a href="javascript: void(0);"aria-expanded="false" > 
                        <span class="icon-box"><i class="ph-book-open"></i></span>
                        <div class="text-box">Documentation</div>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">User list</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
   
    
</div>