<header class="site-header">
    <div class="main-header">
        <div class="navbar">
            <div class="container-fluid">
                <div class=" d-flex align-items-center">
                    <a href="index.html" class="brand-logo ">Logo</a>
                    <div class="main-menu">
                        <a href="index.html" class="mblbrand-logo"><img src="assets/images/logo/Logo.png" alt=""></a>  
                        <span class="rt-mobile-menu-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                        </span><!-- /.rt-mobile-menu-close -->
                        {% include "./nav.html" %}
                    </div><!-- /.main-menu -->
                </div>
                <div class="ms-auto">
                    <div class="rt-nav-tolls d-flex align-items-center">
                        <ul>
                            <li>
                                <a href="create-account.html" class="btn btn-outline-primary">Create Account</a>
                            </li>
                            <li>
                                <a href="login.html" class="btn btn-primary">Log In</a>
                            </li>
                        </ul>
                        <div class="mobile-menu">
                            <div class="menu-click">
                                <div class="menu-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
