<ul class="menu-active-classes ">
    <li class="has-megamenu menu-item-has-children"><a href="#">Home</a>
        <div class="rt-mega-menu">
            <div class="container">
                <div class="row g-0">
                    <div class="col-lg-4">
                       <a href="/index.html">
                        <img src="assets/images/all-img/1.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>home one</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4">
                       <a href="/index2.html">
                         <img src="assets/images/all-img/2.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>home Two</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4">
                       <a href="/index3.html">
                        <img src="assets/images/all-img/3.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>home Three</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4">
                       <a href="/index4.html">
                        <img src="assets/images/all-img/4.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>home Four</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4">
                       <a href="/index5.html">
                        <img src="assets/images/all-img/5.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>home Five</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4">
                       <a href="/index5.html">
                        <img src="assets/images/all-img/5.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>UpComming</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
            </div><!-- /.rt-container -->
        </div><!-- /.rt-mega-menu -->
    </li>
    <li class="menu-item-has-children"><a href="#">Find Job</a>
        <ul class="sub-menu">
            <li><a href="/joblist.html">Joblist One</a></li>
            <li><a href="/joblist2.html">Joblist Two</a></li>
            <li><a href="/joblist3.html">Joblist Three</a></li>
            <li><a href="/joblist4.html">Joblist Four</a></li>
            <li><a href="/job-details.html">Job Details</a></li>
            <li><a href="/job-details-2.html">Job Details 2</a></li>
        </ul>
    </li>
    <li class="menu-item-has-children"><a href="#">Employers</a>
        <ul class="sub-menu">
            <li><a href="/employe.html">Employe</a></li>
            <li><a href="/company-details.html">Company Details</a></li>
            <li class="menu-item-has-children"><a href="#">Dashboard</a>
                <ul class="sub-menu">
                    <li><a href="/company-overview.html"> overview</a></li>
                    <li><a href="/company-jobs.html">My Jobs</a></li>
                    <li><a href="/post-job.html">Post Job</a></li>
                    <li><a href="/company-application-list.html">Application</a></li>
                    <li><a href="/company-bookmark.html"> Bookmark</a></li>
                    <li><a href="/price-plan.html"> Price Plans</a></li>
                    <li><a href="/company-settings.html"> Settings</a></li>
                </ul>
            </li>
            
        </ul>
    </li>
    <li class="menu-item-has-children"><a href="#">Candidates</a>
        <ul class="sub-menu">
            <li><a href="/candidate.html">Candidate</a></li>
            <li><a href="/candidate-details.html">Candidate Details</a></li>
            <li class="menu-item-has-children"><a href="#">Dashboard</a>
                <ul class="sub-menu">
                    <li><a href="/candidate-overview.html"> overview</a></li>
                    <li><a href="/candidate-applied-jobs.html">Applied Job</a></li>
                    <li><a href="/candidate-bookmark.html"> Bookmark Job</a></li>
                    <li><a href="/candidate-companies-bookmark.html"> Bookmark Employe</a></li>
                    <li><a href="/candidate-setting.html"> Settings</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menu-item-has-children"><a href="#l">Blogs</a>
        <ul class="sub-menu">
            <li><a href="blog.html">Blog </a></li>
            <li><a href="blog-details.html">Blog Details </a></li>
        </ul>
    </li>


    <!-- <li class="menu-item-has-children has-megamenu"><a href="/#">Pages</a>
        <div class="rt-mega-menu">
            <div class="container">
                <div class="row g-0">
                    <div class="col-lg-3">
                       <a href="/#">demo pages</a>
                       <a href="/#">demo pages</a>
                       <a href="/#">demo pages</a>
                       <a href="/#">demo pages</a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                    </div>
                </div>
            </div>
        </div>
    
    </li> -->

    <li class="menu-item-has-children"><a href="#">Pages</a>
        <ul class="sub-menu">
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
            <li><a href="/pricing.html">Pricing</a></li>
            <li class="menu-item-has-children"><a href="#">Account</a>
                <ul class="sub-menu">
                    <li><a href="/login.html"> Login Side Cover</a></li>
                    <li><a href="/login-illustration.html">Login Illustration</a></li>
                    <li><a href="/create-account.html">Create Account Side Cover</a></li>
                    <li><a href="/create-account-illustration.html">Create Account Illustration</a></li>
                </ul>
            </li>
            <li><a href="/faq.html">FAQ</a></li>
            <li><a href="/404.html">404 Error</a></li>
            <li><a href="/coming-soon.html">Coming Soon</a></li>
            <li><a href="/terms-condition.html">Terms & Condition</a></li>
        </ul>
    </li>
</ul>
