<div class="top-navbar">
  <div class="container-fluid p-0">
      <div class="main-menu">
          <div class="mobile-menu-header d-flex justify-content-between mb-5 pb-2 px-3 ps-3 d-block d-lg-none">
            <a href="#" class="mbl-logo"><img src="assets/images/logo/logo.svg" alt=""></a>
            <span class="rt-mobile-menu-close">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208s208-93.31 208-208S370.69 48 256 48zm86.63 272L320 342.63l-64-64l-64 64L169.37 320l64-64l-64-64L192 169.37l64 64l64-64L342.63 192l-64 64z" fill="#e84646"/></svg>
            </span>
          </div>
          <!-- /.rt-mobile-menu-close -->
          <ul class="menu-active-classes">
              <li class="active">
                  <a href="index.html">
                      <span class="icon-box"><i class="ph-house-line"></i></span>
                      <div class="text-box">Dashboard</div>
                  </a>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-clipboard-text"></i></span>
                      <div class="text-box">Apps</div>
                  </a>
                  <ul class="sub-menu">
                      <li><a href="#">Calendar</a></li>
                      <li><a href="#">Kanban Board</a></li>
                      <li class="menu-item-has-children">
                          <a href="#">File Manager</a>
                          <ul class="sub-menu">
                              <li><a href="#">Kanban Board</a></li>
                              <li><a href="#">Card Details</a></li>
                              <li><a href="#">Create New Cards</a></li>
                          </ul>
                      </li>
                      <li><a href="#">File Manager</a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-circles-three-plus"></i></span>
                      <div class="text-box">Pages</div>
                  </a>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-palette"></i></span>
                      <div class="text-box">Style Guide</div>
                  </a>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-swatches"></i></span>
                      <div class="text-box">UI Components</div>
                  </a>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-gear"></i></span>
                      <div class="text-box">From Elements</div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="icon-box"><i class="ph-books"></i></span>
                      <div class="text-box">Documentation</div>
                  </a>
              </li>
          </ul>
      </div>
      <!-- /.main-menu -->
  </div>
</div>
