<div class="top-navbar">
  <div class="container-fluid p-0">
      <div class="main-menu">
          <span class="rt-mobile-menu-close"> X </span>
          <!-- /.rt-mobile-menu-close -->
          <ul class="menu-active-classes">
              <li class="active">
                  <a href="index.html">
                      <span class="icon-box"><i class="ph-house-line"></i></span>
                      <div class="text-box">Dashboard</div>
                  </a>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-clipboard-text"></i></span>
                      <div class="text-box">Apps</div>
                  </a>
                  <ul class="sub-menu">
                      <li><a href="#">Calendar</a></li>
                      <li><a href="#">Kanban Board</a></li>
                      <li class="menu-item-has-children">
                          <a href="#">File Manager</a>
                          <ul class="sub-menu">
                              <li><a href="#">Kanban Board</a></li>
                              <li><a href="#">Card Details</a></li>
                              <li><a href="#">Create New Cards</a></li>
                          </ul>
                      </li>
                      <li><a href="#">File Manager</a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-circles-three-plus"></i></span>
                      <div class="text-box">Pages</div>
                  </a>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-palette"></i></span>
                      <div class="text-box">Style Guide</div>
                  </a>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-swatches"></i></span>
                      <div class="text-box">UI Components</div>
                  </a>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">
                      <span class="icon-box"><i class="ph-gear"></i></span>
                      <div class="text-box">From Elements</div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="icon-box"><i class="ph-books"></i></span>
                      <div class="text-box">Documentation</div>
                  </a>
              </li>
          </ul>
      </div>
      <!-- /.main-menu -->
  </div>
</div>
