<div class="top-navbar">
  <div class="sidebar-menu">
    <ul id="side-menu">
      <li>
        <a href="/" aria-expanded="false">
          <span class="icon-box"><i class="ph-house-line"></i></span>
          <div class="text-box">Dashboard</div>
        </a>
      </li>
      <li class="has-child">
        <a href="javascript: void(0);" aria-expanded="false">
          <span class="icon-box"><i class="ph-clipboard-text"></i></span>
          <div class="text-box">Apps</div>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><a href="#">Overview</a></li>
          <li><a href="#">User list</a></li>
        </ul>
      </li>
      <li class="has-child">
        <a href="javascript: void(0);" aria-expanded="false">
          <span class="icon-box"><i class="ph-folder-notch-open"></i></span>
          <div class="text-box">Pages</div>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><a href="#">Overview</a></li>
          <li><a href="#">User list</a></li>
        </ul>
      </li>
      <li class="has-child">
        <a href="javascript: void(0);" aria-expanded="false">
          <span class="icon-box"><i class="ph-puzzle-piece"></i></span>
          <div class="text-box">Style Guide</div>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><a href="#">Overview</a></li>
          <li><a href="#">User list</a></li>
        </ul>
      </li>
      <li class="has-child">
        <a href="javascript: void(0);" aria-expanded="false">
          <span class="icon-box"><i class="ph-user"></i></span>
          <div class="text-box">UI Components</div>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><a href="#">Overview</a></li>
          <li><a href="#">User list</a></li>
        </ul>
      </li>
      <li class="has-child">
        <a href="javascript: void(0);" aria-expanded="false">
          <span class="icon-box"><i class="ph-notebook"></i></span>
          <div class="text-box">From Elements</div>
        </a>
        <ul class="sub-menu" aria-expanded="false">
          <li><a href="#">Overview</a></li>
          <li><a href="#">User list</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript: void(0);" aria-expanded="false">
          <span class="icon-box"><i class="ph-credit-card"></i></span>
          <div class="text-box">Documentation</div>
        </a>
      </li>
      
    </ul>
  </div>
</div>
