<div class="breadcrumbs style-two">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-12 position-relative ">
                <div class="jobsearchBox  bg-gray-10 input-transparent height-auto-lg">
                    <div class="top-content d-flex flex-column flex-lg-row">
                        <div class="flex-grow-1 fromGroup has-icon">
                            <input type="text" placeholder="Job tittle, Keyword...">
                            <div class="icon-badge">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M20.9999 21L16.6499 16.65" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                            </div>
                        </div>
                        <div class="flex-grow-1 fromGroup has-icon">
                            <input type="text" placeholder="Location">
                            <div class="icon-badge">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                              
                            </div>
                        </div>
                        <div class="flex-grow-1 fromGroup has-icon banner-select">
                            <select class="rt-selectactive " name="from" style="width: 100%">
                                <option>Select Category</option>
                                <option value="2">Front End Developer</option>
                                <option value="3">Back End Developer</option>
                                <option value="4">Full Stack Developer</option>
                                <option value="5">Wordpress Developer</option>
                                <option value="6">UI / UX Designer</option>
                                <option value="7">Facebook Marketing</option>
                                <option value="8">Digital Marketing</option>
                            </select>
                            <div class="icon-badge">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 17L12 22L22 17" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2 12L12 17L22 12" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 2L2 7L12 12L22 7L12 2Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    
                            </div>
                        </div>
                        <div class="flex-grow-0">
                            <button class="btn btn-primary d-block d-md-inline-block ">Find Job</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
